<ion-content [fullscreen]="true" *ngIf="user!=null">
  <ion-card class="otheruser-profile">
    <div class="profile-outer-container">
      <div class="back-button">
        <ion-buttons>
          <!-- <backbutton slot="start"></backbutton> -->
          <ion-icon name="arrow-back-outline" (click)="backtoPreviousPage()" class="larger-back-button"></ion-icon>
        </ion-buttons>
      </div>
      <div class="profile-img-container">
        <ion-avatar class="profile-image">
          <ion-img [src]="user!.profileURL"></ion-img>
        </ion-avatar>
      </div>
      <ion-label class="profile-label">
        <div class="name">
          <h1>{{user!.displayName}}</h1>
        </div>
        <div class="bio">
          <p>{{user.bio}}.</p>
        </div>
      </ion-label>
      <div class="group-buttons">
        <ion-button fill="outline" *ngIf="friendshipStatus && !isRequested()" (click)="removeFriend()">
          <ion-icon name="person" style="padding-right: 5px;"></ion-icon>
          Remove Friend
        </ion-button>
        <ion-button fill="outline" *ngIf="!friendshipStatus && !isRequested() && !friendRequestStatus" (click)="addFriend()">
          <ion-icon name="person" style="padding-right: 5px;"></ion-icon>
          Add friend
        </ion-button>
        <ion-button fill="outline" *ngIf="isRequested() && !friendRequestStatus" [disabled]="true">
          <ion-icon name="person" style="padding-right: 5px;"></ion-icon>
          Requested
        </ion-button>
        <ion-button fill="ouline" *ngIf="friendRequestStatus" routerLink="/notifications">
          <ion-icon name="person"></ion-icon>
          View Request
        </ion-button>
      </div>
    </div>
   
    <div class="otheruser-profile-activity">
      <div class="slide-header">
        <ion-item class="slides-headers first-header">
          <ion-icon name="body" slot="start"></ion-icon> 
          <ion-label>Activities</ion-label>
        </ion-item>
      </div>
      <swiper-container [slidesPerView]="2" centered-slides="true"  pagination="{hideOnClick: true}">
        <swiper-slide>
          <ion-card (click)="viewFriends()">
            <ion-card-content>
              <ion-card-title>
                <ion-icon name="people"></ion-icon>
              </ion-card-title>
              <h2>{{friends!.length + " Friends"}}</h2>
            </ion-card-content>
          </ion-card>
        </swiper-slide>
        <swiper-slide>
          <ion-card>
            <ion-card-content>
              <ion-card-title>
                <ion-icon name="people"></ion-icon>
              </ion-card-title>
              <h2>0 Groups</h2>
            </ion-card-content>
          </ion-card>
        </swiper-slide>
        <swiper-slide>
          <ion-card (click)="viewSchedules()">
            <ion-card-content>
              <ion-card-title>
                <ion-icon name="barbell"></ion-icon>
              </ion-card-title>
              <h2>{{workoutSchedules!.length}} Sessions</h2>
            </ion-card-content>
          </ion-card>
        </swiper-slide>
      </swiper-container>
      
      <div class="slide-header">
        <ion-item class="slides-headers">
          <ion-icon name="trophy" slot="start"></ion-icon> 
          <ion-label>Achievements</ion-label>
        </ion-item>
      </div>
      <swiper-container [slidesPerView]="2" centered-slides="true"
        pagination="{hideOnClick: true}"
      >
        <swiper-slide>
          <ion-card (click)="viewOtherUserBadges()">
            <ion-card-content>
              <ion-card-title>
                <ion-icon name="medal"></ion-icon>
              </ion-card-title>
              <h2 *ngIf="badges$ | async as badges; else loaderContent">{{badges.receivedBadges.length}} Badges</h2>
              <ng-template #loaderContent>
                <div class="loader-wrapper">
                  <ion-spinner></ion-spinner>
                </div>
              </ng-template>
            </ion-card-content>
          </ion-card>
        </swiper-slide>
        <swiper-slide>
          <ion-card>
            <ion-card-content>
              <ion-card-title>
                <ion-icon name="star"></ion-icon>
              </ion-card-title>
              <h2 *ngIf="points$ | async as points; else loaderContent">{{points.userPoints}} Points</h2>
              <ng-template #loaderContent>
                <div class="loader-wrapper">
                  <ion-spinner></ion-spinner>
                </div>
              </ng-template>
            </ion-card-content>
          </ion-card>
        </swiper-slide>
      </swiper-container>
    </div>
   </ion-card>
</ion-content>
