<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item>
      <ion-icon name="arrow-back-outline" routerLink="/friends"></ion-icon>
      <ion-title>otheruser</ion-title>
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-card class="otheruser-profile">
  <ion-item>
    <ion-avatar>
      <img src="assets/sweatsessionlogotransparent1.png"/>
    </ion-avatar>
  </ion-item>
  <ion-item id="userName">
      Joe Black
      <ion-button slot="end" *ngIf="friendshipStatus" (click)="removeFriend()">
        <ion-icon name="person-outline"></ion-icon>
        remove friend
      </ion-button>
      <ion-button slot="end" *ngIf="!friendshipStatus" (click)="addFriend()">
        <ion-icon name="person-outline"></ion-icon>
        add friend
      </ion-button>
  </ion-item>
  <ion-item id="userBio">
  ......bio......
  </ion-item>
 </ion-card>
 <ion-card>
  <ion-item>
    <ion-icon name="barbell-outline"></ion-icon>
    <ion-card-header>WorkoutSchedules</ion-card-header>
    <ion-button slot="end" (click)="viewSchedules()">view</ion-button>
  </ion-item>
 </ion-card>
 <ion-card>
  <ion-item>
    <ion-icon name="people-outline"></ion-icon>
    <ion-card-header>30 Friends</ion-card-header>
    <ion-button slot="end" (click)="viewFriends()">view</ion-button>
  </ion-item>
 </ion-card>
</ion-content>
