<ion-header [translucent]="true" *ngIf="user!=null">
  <ion-toolbar>
    <ion-item *ngIf = "!isFriendsSlideActive && !isScheduleSlideActive">
      <ion-icon name="arrow-back-outline" (click)="backtoPreviousPage()"></ion-icon>
      <ion-title>{{user!.name}}</ion-title>
    </ion-item>

    <ion-item *ngIf = "isScheduleSlideActive">
      <ion-icon name="arrow-back-outline" (click) ="backToOtheruserPage()"></ion-icon>
      <ion-title>{{user!.name}}'s WorkoutSchedules</ion-title>
    </ion-item>

    <ion-item *ngIf = "isFriendsSlideActive">
      <ion-icon name="arrow-back-outline" (click)="backToOtheruserPage()"></ion-icon>
      <ion-title>{{user!.name}}'s Sweat buddies</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="user!=null">
 <ion-card class="otheruser-profile">
  <ion-item>
    <ion-avatar>
      <img src="{{user!.profileURL}}"/>
    </ion-avatar>
  </ion-item>
  <ion-item id="userName">
      {{user!.name}}
      <ion-button slot="end" *ngIf="friendshipStatus" (click)="removeFriend()">
        <ion-icon name="person-outline"></ion-icon>
        remove friend
      </ion-button>
      <ion-button slot="end" *ngIf="!friendshipStatus" (click)="addFriend()">
        <ion-icon name="person-outline"></ion-icon>
        add friend
      </ion-button>
  </ion-item>
  <ion-item id="userBio">
    {{user!.bio}}
  </ion-item>
 </ion-card>
 <ion-card>
  <ion-item>
    <ion-icon name="barbell-outline"></ion-icon>
    <ion-card-header>{{workoutSchedules!.length}} WorkoutSchedules</ion-card-header>
    <ion-button slot="end" (click)="viewSchedules()">view</ion-button>
  </ion-item>
 </ion-card>
 <ion-card>
  <ion-item>
    <ion-icon name="people-outline"></ion-icon>
    <ion-card-header>{{friends!.length}} Friends</ion-card-header>
    <ion-button slot="end" (click)="viewFriends()">view</ion-button>
  </ion-item>
 </ion-card>

</ion-content>
