<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <backbutton></backbutton>
    </ion-buttons>
    <ion-title>Badges</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="badgesContainer">
  <ion-grid class="loginGrid">
    <badge *ngFor ="let badge of badges" 
    [name] = "badge.header"
    [receivedDescription] = "badge.receivedDescription"
    [notReceivedDescription] = "badge.notReceivedDescription"
    [received] = "badge.received"
    [imageName]="badge.imageName"
  ></badge>
  </ion-grid>
</ion-content>