.add-schedule-button:hover {
  zoom: 1.2;
  ion-icon {
  color: aqua;
  }
}

#search-suggestions {
  margin: 5px;
  max-height: 200px;
  overflow-y: scroll;
}

ion-segment {
  border-radius: 0px;
}

ion-content {
  --background: url('/assets/Asset 2.png') no-repeat center/cover fixed; // #1D3557;
}

ion-item, ion-toolbar {
  --background: rgba($color: white, $alpha: 0.1);
}

ion-fab-button  {
  --background: #457B9D;
  --background-hover: #9ce0be;
  --background-activated: #88f4be;
  --background-focused: #88f4be;
  --color: white;
  --ripple-color: deeppink;
  opacity: 0.9;
}