<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item lines="none">
      <backbutton></backbutton>
      <ion-title>Schedules</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment (ionChange)="onSegmentChange($event)" value="0" [scrollable]="true">
    <ion-segment-button value="0">All</ion-segment-button>
    <ion-segment-button value="1">in Session</ion-segment-button>
    <ion-segment-button value="2">completed</ion-segment-button>
    <ion-segment-button value="3">uncompleted</ion-segment-button>
  </ion-segment>

  <workout-schedule id="0" [hidden]="selectedSegment !== '0'"
  [categoryName]="''"  
  [schedules] = "schedules"
  ></workout-schedule>

  <workout-schedule id="1" [hidden]="selectedSegment !== '1'"
  [categoryName]="'in session'"  
  [schedules] = "inSessionSchedules"
  ></workout-schedule>

  <workout-schedule id="2" [hidden]="selectedSegment !== '2'"
  [categoryName]="'completed'"  
  [schedules] = "completedSchedules"
  ></workout-schedule>

  <workout-schedule id="3" [hidden]="selectedSegment !== '3'"
  [categoryName]="'uncompleted'"  
  [schedules] = "uncompletedSchedules"
  ></workout-schedule>

  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button (click)="addSchedule()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>