.add-schedule-button:hover {
  zoom: 1.2;
  ion-icon {
  color: aqua;
  }
}

#search-suggestions {
  margin: 5px;
  max-height: 200px;
  overflow-y: scroll;
}

ion-segment {
  border-radius: 0px;
}

ion-content {
  --background: url('/assets/Asset 2.png') no-repeat center/cover fixed; // #1D3557;
}

ion-item, ion-toolbar {
  --background: transparent;
}