.add-schedule-button:hover {
  zoom: 1.2;
  ion-icon {
  color: aqua;
  }
}

#search-suggestions {
  margin: 5px;
  max-height: 200px;
  overflow-y: scroll;
}

ion-segment {
  border-radius: 0px;
}

ion-segment-button {
  opacity: 1;
}

* {
  font-family: 'Montserrat', sans-serif;
}