  ion-footer {
    padding: 10px;
  }
  
  ion-input {
    --border-radius: 5px;
    white-space: pre;
    height: auto;
    overflow-wrap: break-word;
  }
  
  ion-button {
    margin-left: 10px;
    --background: #007bff;
  }

ion-title {
  text-align: center;
}