<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <backbutton></backbutton>
      <ion-title>
        <ion-item lines="none">
          <ion-avatar>
            <ion-img [src]="friendProfile.profileURL" alt="profile pic here"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>{{friendProfile.displayName}}</h2>
          </ion-label> 
        </ion-item>
      </ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="chat-container">
    <div class="message" *ngFor="let message of chats" [ngClass]="{ 'message-sent': message.senderId === currentUserId, 'message-received': message.senderId !== currentUserId }">
      <div class="message-content">
        <div class="message-bubble">
          {{ message.text }}
        </div>
        <div class="message-timestamp">{{ message.date?.toDate() | date:'MMM d, hh:mm a' }}</div>

      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
   <ion-item lines="none">
    <ion-input placeholder="Type a message" [(ngModel)]="message.text"></ion-input>
    <ion-icon name="send" (click)="sendMessage()"></ion-icon>
   </ion-item>
  </ion-toolbar>
</ion-footer>