<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <backbutton (click)="removeSession()"></backbutton>
    </ion-buttons>
    <ion-title>
      <ion-chip (click)="viewOtherUser()">
        <ion-avatar>
          <ion-img [src]="friendProfile.profileURL" alt="profile pic here"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>{{friendProfile.displayName}}</h2>
        </ion-label> 
      </ion-chip>
    </ion-title>
    <!--<ion-buttons slot="end">
       <ion-button class="default-button">
        <ion-icon name="ellipsis-vertical" id="trigger"></ion-icon>
      </ion-button> temporarily commented out
    </ion-buttons> --> 
    <!-- <ion-popover trigger="trigger" triggerAction="click">
      <ng-template>
        <ion-item lines="none">
          clear chat
        </ion-item>
      </ng-template>
    </ion-popover> -->
  </ion-toolbar>
</ion-header>

<ion-content #contentElement>
  <div class="chat-container">
    <div *ngFor="let message of chats">
      <chatbox
        [message]="message"
        [currentUserId]="currentUserId"
      ></chatbox>
    </div>
  </div>
</ion-content>

<ion-footer class="input-field-footer">
  <ion-item lines="none" class="message-input-field">
    <div class="input-field-wrapper">
      <ion-textarea autoGrow="true" placeholder="Type a message" [(ngModel)]="message.text"></ion-textarea>
    </div>
    <ion-fab horizontal="end" vertical ="bottom">
      <ion-fab-button class="message-send-fab-button" [color]="isText() ? '' : 'medium'" [disabled]="!isText()" (click)="sendMessage()">
        <ion-icon name="send" class="message-send-icon"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-item>
</ion-footer>