<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <backbutton></backbutton>
    </ion-buttons>
    <ion-title>Groups</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="groups.length > 0; else noGroups">
  <ion-card *ngFor="let Group of groups">
    <ion-card-header>
      <ion-card-title>{{Group.displayName}}</ion-card-title>
      <ion-card-subtitle>{{Group.bio}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item class = "groupPic" lines="none">
        <ion-img [src]="Group.profileURL" alt="logo-image" class="image"></ion-img> 
      </ion-item>
    </ion-card-content>
    
    
    <ion-card-content>
     <div class="button-container">
      <ion-button (click)="stageGroup(Group)">
        <ion-icon name="chatbox-outline" slot="start"></ion-icon>
        <ion-label>Chats</ion-label>
     </ion-button>

      <ion-button>
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label>View Workout</ion-label>
      </ion-button>
     </div>
    </ion-card-content>
  </ion-card>
</ion-content>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="addGroup()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>  

<ng-template #noGroups>
  <ion-content>
   <div class="zero-content-container ">
    <ion-icon class="large-icon" name="people"></ion-icon><br>
    <ion-text>
      You have no groups. Click the add button to search and discover new groups.
    </ion-text>
   </div>
  </ion-content>
</ng-template>