ion-card {
    background-color: transparent;
    // box-shadow: none;
    max-width: 500px;
}

.button-container {
    width: fit-content;
    margin: auto;
}

ion-img {
    height: 100%;
    width: 100%;
}