<ion-card>
  <ion-item class="schedule-header" lines="none">
    <ion-icon name="receipt-outline" slot="start"></ion-icon>
    <ion-card-header class="schedule-name">
      {{schedule.name}}
    </ion-card-header>
    <ion-icon name="chevron-down-outline" slot="end" (click)="viewSchedule()" *ngIf="!isSlideShow"></ion-icon>
    <ion-icon name="chevron-up-outline" slot="end" (click)="viewSchedule()" *ngIf="isSlideShow"></ion-icon>
  </ion-item>
  <div *ngIf="isSlideShow">
    <ion-card-content>
      <ion-row>
        <ion-col size="6">
          <ion-item class="item-field" lines="none">
            <ion-icon class="schedule-value-icon" name="calendar-outline"></ion-icon>
            <ion-text class="schedule-value">{{ toDate() | date:'MMM d' }}</ion-text>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="item-field" lines="none">
            <ion-icon class="schedule-value-icon" name="time-outline"></ion-icon>
            <ion-text class="schedule-value">{{schedule.time}}</ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item class="item-field" lines="none">
            <ion-icon class="schedule-value-icon" name="location-outline"></ion-icon>
            <ion-text class="schedule-value">{{schedule.location}}</ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item class="item-field" lines="none">
            <ion-icon class="schedule-value-icon" name="timer-outline"></ion-icon>
            <ion-text class="schedule-value">{{schedule.duration}} minutes</ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </div>
</ion-card>