ion-item {
    --background: #A8DADC; //#E63946;
}

ion-button {
    --background: #E63946;
    --color: white;
    --border-color: #E63946;
}

ion-card {
    margin: 8px;
    border-radius: 2px;
}

.schedule-value {
    margin-left: 10px;
}