/src/environments/**

# Angular
.angular

yarn-error.log

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# dependencies
node_modules

# compiled output
dist
tmp
/out-tsc

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
.env
.firebaserc
.env.prod

# System Files
.DS_Store
Thumbs.db

# Firebase Logs
database-debug.log
firebase-debug.log
firestore-debug.log
ui-debug.log
pubsub-debug.log

# Emulators
.emulators

# Keys
.keys/*.json

#text
*.txt
