<ion-card class="ion-text-center">
  <ion-card-title>
    <h1>Exercise Calculator</h1>
  </ion-card-title>
  <ion-card-content>
    <div class="heading-container">
      <h2>Add your workout plan here</h2>
    </div>
    <div class="grid-container">
      <div class="form-container">
        <form [formGroup]="workoutForm">
          <div
            formArrayName="exercises"
            *ngFor="let exercise of exercises.controls; index as i"
          >
            <div class="exercise-number">Exercise {{ i + 1 }}</div>
            <div>
              <input formControlName="name" placeholder="Name" />
              <input formControlName="sets" placeholder="Sets" />
              <input formControlName="reps" placeholder="Repetitions" />
              <input formControlName="weight" placeholder="Weight (kg)" />
              <!-- [(ngModel)]="name" [(ngModel)]="sets" [(ngModel)]="reps" [(ngModel)]="weight" -->
            </div>
            <ion-button
              color="danger"
              type="button"
              (click)="deleteExercise(i)"
            >
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </div>

          <ion-button class="adder" type="button" (click)="addExercise()">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </form>
      </div>
    </div>
  </ion-card-content>
</ion-card>
