
<ion-content> 
 
  
    <ion-header>
      <ion-toolbar>
        <ion-title class="header">Profile</ion-title>
        <ion-title class="header" slot="end">Edit</ion-title>

      </ion-toolbar>
    </ion-header>

 <p class="flex-center">   
    
    <ion-img src="assets/Asset 1.png" alt="logo-image" class="image"></ion-img>
          
 </p>

  
  <div class="flex-center"><h3>Robert</h3></div>

  <p class="flex-center">
    <ion-card-content class="card" >
      <ion-item><ion-label>Hi , its Alex out here doing dope things</ion-label></ion-item>
    </ion-card-content>
  </p>


  <ion-card-content >
    <ion-title class="title"><b>24</b><br>Friends</ion-title>
    <ion-title class="title"><b>3</b><br>GymGroups</ion-title>
  </ion-card-content>
 
  
    <div class="flex-center"> 
      <ion-card class="card">
      <ion-card-content>
        <ion-button class="button"expand="block" (click)="Leaderboard()"><ion-icon name="bar-chart-outline" slot="start"></ion-icon>&nbsp;LeaderBoard &nbsp;<ion-icon name="chevron-forward-outline" slot="end"></ion-icon></ion-button>
      </ion-card-content>
      <ion-card-content>
        <ion-button class="button"expand="block" (click)="Chats()"><ion-icon name="chatbubble-outline" slot="start"></ion-icon>&nbsp;Chats&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<ion-icon name="chevron-forward-outline" slot="end"></ion-icon></ion-button>
      </ion-card-content>
      <ion-card-content>
        <ion-button class="button"expand="block" (click)="Groups()"><ion-icon name="megaphone-outline" slot="start"></ion-icon>&nbsp;Groups&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<ion-icon name="chevron-forward-outline" slot="end"></ion-icon></ion-button>
      </ion-card-content>
      <ion-card-content>
        <ion-button class="button"expand="block" (click)="Schedule()"><ion-icon name="clipboard-outline" slot="start"></ion-icon>&nbsp;Schedule&nbsp;<ion-icon name="chevron-forward-outline" slot="end"></ion-icon></ion-button>
      </ion-card-content>
    </ion-card></div>
    
    
  
  
</ion-content>
