ion-text {
    margin: 20px;
}

ion-item{
    --highlight-height: 0;
    --inner-border-width: 0;
    --background: #A8DADC;
}

.larger-back-button {
    --padding-start: 12px; 
    --padding-end: 12px; 
    font-size: 24px; 
}

ion-header{
    ion-toolbar{
        --background: #E63946;
    }    
    ion-item{
        --background: #E63946;
        ion-title{
            --background: #E63946;
        }
    }
    --background: #E63946;
}


#xd{
    --background: white; 
    color:black; 
    border-radius: 5px;
}

ion-card, ion-item {
    opacity: 1;
}

ion-content {
    --background: url('/assets/Asset 2.png') no-repeat center/contain fixed; // #1D3557;
}

*{
    font-family: 'Montserrat', 'sans-serrif';
}
