@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.heart-beat {
  animation: beat 0.5s infinite;
}

.health-icon {
  font-size: 7rem;
  margin: 1rem;
}

.subtext {
  text-align: center;
}

.submit{
  margin-top: 15px;
}

.cont{
  height: 200px;
  width: 100%;
}

.icon-container {
  display: flex;
  justify-content: center;
  width: 100%;

  position: sticky;
  top: 0;
  z-index: 100;
}  

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.input-field-container {
    margin-top: 15px;
  }
  