@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.form-control{
  margin-top: 5%;
  margin-bottom: 5%;
}

.heart-beat {
  animation: beat 0.5s infinite;
}

.customlabel{
  margin-top: 5%;
  font-size: 1.2rem;
}

.health-icon {
  font-size: 7rem;
  color: #E63946;
  margin: 1rem;
}

.subtext {
  text-align: center;
}

.submit{
  margin-top: 15px;
  --background: #E63946;
  --color: white;
  --border: none;
  --border-style: solid;
  --border-width: 2px;
  --border-color: #E63946;
}

.cont{
  height: 200px;
  width: 100%;
}

.full-width {
  width: 100%;
}
  
.input-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-self: center;
  width: 100%;
}

.icon-container {
  display: flex;
  justify-content: center;
  width: 100%;
}  

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
  
  