



<ion-card>
  <ion-item-divider  style=" padding: 2%; border-radius: 10px; text-align: center; font-size: 1.5rem;">
    <ion-label>Progress Chart</ion-label>
  </ion-item-divider>

  <ion-grid >
    <ion-row class="ion-align-items-center ion-justify-content-center"> <!-- Center content vertically and horizontally -->
      <ion-col size="6">
        <ion-row class="ion-align-items-center ion-justify-content-center"> <!-- Center content vertically and horizontally -->
          <ion-label>Exercise</ion-label>
        </ion-row>
      </ion-col>

      <ion-col size="6">
        <ion-row class="ion-align-items-center ion-justify-content-center"> <!-- Center content vertically and horizontally -->
          <ion-select [(ngModel)]="showExercise" (ionChange)="handleExerciseChange($event)">
            <ion-select-option value="Bench Press">Bench Press</ion-select-option>
            <ion-select-option value="Squats">Squats</ion-select-option>
            <ion-select-option value="Deadlifts">Deadlifts</ion-select-option>
            <ion-select-option value="Overhead Press">Overhead Press</ion-select-option>
            <ion-select-option value="Barbell Rows">Barbell Rows</ion-select-option>
            <ion-select-option value="Push ups">Push ups</ion-select-option>
          </ion-select>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>




  <ion-radio-group value="custom-checked" [(ngModel)]="showReps" (ionChange)="handleRadioChange($event)">
    <ion-row>
      <ion-col size="6">
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-label>Repetitions</ion-label>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-radio class="radioButton" name="radioButton" value="reps"></ion-radio>
        </ion-row>
      </ion-col>

      <ion-col size="6">
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-label>Weight (kg)</ion-label>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-radio class="radioButton" name="radioButton" value="weight"></ion-radio>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-radio-group>

</ion-card>

  <ion-card class = "chart-card ">
  <ion-card-subtitle class = "max-height-card-content-chart">
    <canvas baseChart
            *ngIf="chartData.length > 0"
            [datasets]="chartData"
            [labels]="chartLabels"
            [options]="chartOptions"
            [type]="chartType">
    </canvas>
  </ion-card-subtitle>

</ion-card>

<ion-card>
      <ion-item-divider  style=" padding: 2%; border-radius: 10px; text-align: center; font-size: 1.5rem;">
        <ion-label>Latest {{showExercise}} Bests</ion-label>
      </ion-item-divider>

              <ion-card-content class="max-height-card-content">

                  <ion-item-sliding *ngFor="let personalBest of personalBestsData">
                    <ion-item clsss = "chart-card" style=" color: black; weight:10" lines="none">

                      <ion-label>
                        <h2 style="color: #3a7be0">{{ personalBest.location }}</h2>
                        <p>{{ personalBest.date | date:'dd-MMM-yyyy' }}</p>
                      </ion-label>

                      <ion-note slot="end">
                        <p>Reps: {{ personalBest.reps }}</p>
                        <p>Weight: {{ personalBest.weight }}</p>
                      </ion-note>

                    </ion-item>
                    <ion-item-options side="end">
                      <ion-item-option color="danger" (click)="confirmDelete(personalBest)">
                        Delete
                      </ion-item-option>
                    </ion-item-options>
                  </ion-item-sliding>

              </ion-card-content>
</ion-card>