ion-item {
    position: relative;
  }
  
  .hover-text {
    position: absolute;
    top: 0;
    left: 100%;
    padding: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  ion-item:hover .hover-text {
    opacity: 1;
  }
  .max-height-card-content {
    max-height: 250px;
    overflow-y: auto; 
  }
.max-height-card-content-chart {
  max-height: 300px;
}

  .chart-card {
    padding: 20px;
  }

.rounded-button
{
  //border-radius: 20px;
  //display: inline-block;

}

ion-radio {
  --border-radius: 4px;
  --inner-border-radius: 4px;


}

ion-radio.ios {
  width: 20px;
  height: 20px;

  border-radius: 4px;
}

.radio-checked.ios {
}