ion-avatar {
    height: 50px;
    width: 50px;
    margin: 10px;
}

ion-item:hover {
    background-color: whitesmoke;
    
}

ion-item{
    margin: 8px;
    opacity: 1;
    border-radius: 2px;
    --padding-start: 0px;
    --padding-end: 0px;
    --padding-bottom: 0px;
    --padding-top: 0px;
    --padding-inline-end: 0px;
}

ion-card, ion-item {
    border-radius: 2px;
}

p {
    font-style: italic;
}

.user-name {
    font-weight: bolder;
}