<div class="content-container">
  <ion-searchbar
      placeholder="Search for users"
      [(ngModel)] = "searchTerms.searchQuery"
      (ionInput) = onSearchInput($event)
      color="light"
      animated
      >
  </ion-searchbar>
  
  <div class="search-suggestions" *ngIf="searchTerms.showSuggestions">
    <ion-card id="search-suggestions">
      <ion-list >
        <ion-item lines="none" 
          *ngFor="let suggestion of searchTerms.filteredSuggestions" 
          (click)="find(suggestion)">
          <ion-avatar>
            <ion-img src ="{{suggestion.profileURL}}"></ion-img>
          </ion-avatar>
          {{ suggestion.displayName }}
        </ion-item>
        <ion-item lines="none" *ngIf="showNoResults && this.searchTerms.filteredSuggestions!.length==0">
          <ion-text>user not found</ion-text>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</div>

<div class="content-container">
  
</div>