ion-avatar {
    height: 50px;
    width: 50px;
    margin: 10px;
}

ion-item:hover {
    background-color: whitesmoke;
}

ion-item{
    // --highlight-height: 0;
    // --inner-border-width: 0;
    --background: #457B9D;
    margin: 2px;
}

ion-card, ion-item {
    opacity: 0.9;
}