ion-avatar {
    height: 50px;
    width: 50px;
    margin: 10px;
}

ion-item:hover {
    background-color: whitesmoke;
}

ion-item{
    margin: 2px;
}

ion-card, ion-item {
    --background: #457B9D;
    opacity: 0.9;
}