<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <backbutton></backbutton>
    </ion-buttons>
    <ion-title>Add New Goal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="form-content">
  <form [formGroup]="goalForm" (ngSubmit)="onSubmit()" class="ion-padding">
    <ion-item-divider style="border-radius: 7px; padding: 5px">
      <ion-card-title>Goal Details</ion-card-title>
    </ion-item-divider>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-lg="6">
        <div class="input-field-container">
          <ion-label position="stacked"><h2 style="font-weight: bold">Name</h2></ion-label>
          <ion-item class="input-field" lines="none">
            <ion-input type="text" placeholder="Name your goal" formControlName="name"></ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-xs="6" size-md="6" size-lg="6">
        <div class="input-field-container">
          <ion-label position="stacked"><h2 style="font-weight: bold">Start date</h2></ion-label>
          <ion-item class="input-field" lines="none">
            <ion-input type="date" formControlName="start" min="{{today}}"></ion-input>
          </ion-item>
        </div>
      </ion-col>
      <ion-col size="12" size-xs="6" size-md="6" size-lg="6">
        <div class="input-field-container">
          <ion-label position="stacked"><h2 style="font-weight: bold">End date</h2></ion-label>
          <ion-item class="input-field" lines="none" lines = "none">
            <ion-input type="date" formControlName="end" min="{{starteddate}}"></ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-lg="6" style="margin-bottom: 20px;">
        <div class="input-field-container">
          <ion-label position="stacked"><h2 style="font-weight: bold">Description</h2></ion-label>
          <ion-item class="input-field" lines="none">
            <ion-textarea rows="4" autogrow="true" type="text" placeholder="Describe your goal" formControlName="description"></ion-textarea>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>

    <form [formGroup]="TaskForm" style="margin-bottom: 20px;">
      <ion-item-divider style="border-radius: 7px">
        <ion-card-title >Tasks</ion-card-title>
        <ion-icon name = "add" size="large" (click)="addControl()" slot = "end" ></ion-icon>
      </ion-item-divider>

        <ion-item *ngFor="let control of Taskses.controls; index as i;" formArrayName="Taskses" class="form-group" lines="none">
          <div class="input-field-container">
            <ion-item [formGroupName]="i" lines="none" class="input-field">
              <ion-input type="text" placeholder="Name Task" formControlName="content"></ion-input>
              <ion-button (click)="remove(i)" color = "danger">
                <ion-icon name="close-circle-outline"></ion-icon>
                Remove
              </ion-button>
            </ion-item>
          </div>
        </ion-item>

    </form>
    <ion-row>
      <ion-col>
        <ion-button fill="outline" expand="block" (click)="goback()">Cancel</ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="outline" expand="block" type="submit" [disabled]="!isValid(goalForm.value)">Save Goal</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
