<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <backbutton class="larger-back-button"></backbutton>
      <ion-title>Notifications</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>
<br>


<ion-content class="main">
  <ion-item lines="none">
    <ion-title slot="end" style="display:inline-block; background: none; " ><ion-button fill="clear" (click)="clearNotifications()">Clear All</ion-button></ion-title>
  </ion-item>
    <br>
    <br>
    
  <div *ngIf="noticeamount > 0" >
  <ion-card class="Mcard" *ngFor="let notice of noticeList2">
    <div>{{"&nbsp;".repeat(89)}}<ion-button fill="clear" size="small" (click)="clearNotification(notice.id!)" style="color: black;"><ion-icon name="close-circle-outline" size="small"></ion-icon></ion-button></div>
    <ion-card-content style="display:flex ; align-items:center" >
  <ion-avatar slot="start">
    <img alt="Silhouette of a person's head" src={{notice.profileurl}} />
  </ion-avatar>
  <ion-grid>
    <ion-row>
  <ion-label class="Bcard"><b>&nbsp;&nbsp;{{notice.sendername}}</b></ion-label>
   </ion-row>  
  <ion-label class="Bcard">&nbsp;&nbsp;{{notice.message}}</ion-label>
</ion-grid>
</ion-card-content>
<div class="flex-center3" *ngIf="notice.message == 'Sent you a Friend Request!'">
<ion-button size="small" (click)="addFriend(notice)">Accept</ion-button>
<ion-button size="small" (click)="clearNotification(notice.id!); rejectFriendRequest(notice.senderid! , notice.senttoid!);">Reject</ion-button>
</div>
<ion-label>{{"&nbsp;".repeat(87)}}{{notice.sentdate}}</ion-label>

</ion-card>
</div>
<br>

<ion-card *ngIf="noticeamount == 0" class="flex-center">
  <ion-button (click)="presentAlert()">No Notifications!</ion-button>
  </ion-card>




</ion-content>