// .main{
//     --background: none;
//     --background: url('/assets/Asset 2.png') no-repeat center/contain fixed;
    
// }

.main2{
    --background: none;
    
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    border: radius 20px;
    background-color: #A8DADC;
    ion-button{
        background-color: #A8DADC;
    } 
}

.larger-back-button {
    --padding-start: 12px; 
    --padding-end: 12px; 
    font-size: 24px; 
}

.Mcard{
    
    background-color:rgb(249, 253, 254);
    
    
}
.flex-center2{
    border: radius 50px;
    background-color:lightgray ;
    
}
.Bcard{
    background-color:rgb(249, 253, 254);
}
.Bcard2{
    background-color:rgb(249, 253, 254);
    color: #E63946;
}

.ion-icon1{
    font-size: 28px;
}

.flex-center3{
    display: flex;
    justify-content: center;
    align-items: center;
    border: radius 50px;
    

}

.flex-center4{
    display: flex;
    justify-content: center;
    align-items: center;
    border: radius 50px;
   

}

.right-align-label {
    display: flex;
    justify-content: flex-end; /* Align the content to the right */
    padding-right: 5px;
  }

  .right-align-label2 {
    display: flex;
    justify-content: flex-end; /* Align the content to the right */
    
  }

.delete-button {
    --background: transparent;
    font-size: 17px;
    --border-color: transparent;
}

  