<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <backbutton></backbutton>
      <ion-title>Notifications</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>
<br>


<ion-content class="main">
 
    
    <ion-title *ngIf="noticeamount > 0" style="display:inline-block" ><ion-button  size="default" color="light" (click)="clearNotifications()">Clear all</ion-button></ion-title>
     <br><br>
    
    
  <div *ngIf="noticeamount > 0" >
  <ion-card class="Mcard" *ngFor="let notice of noticeList2">
    <div>{{"&nbsp;".repeat(83)}}<ion-button fill="clear" size="small" (click)="clearNotification(notice.id!)"><ion-icon name="close-circle-outline" class="ion-icon1" ></ion-icon></ion-button></div>
    <ion-card-content style="display:flex ; align-items:center" >
  <ion-avatar slot="start">
    <img alt="Silhouette of a person's head" src="https://i.pravatar.cc/300" />
  </ion-avatar>
  <ion-grid>
    <ion-row>
  <ion-label class="Bcard"><b>&nbsp;&nbsp;{{notice.sendername}}</b></ion-label>
   </ion-row>  
  <ion-label class="Bcard">&nbsp;&nbsp;{{notice.message}}</ion-label>
</ion-grid>
</ion-card-content>
<div class="flex-center3" *ngIf="notice.message == 'Sent you a Friend Request!'">
<ion-button size="small" (click)="clearNotification(notice.id!)">Accept</ion-button>
<ion-button size="small" (click)="clearNotification(notice.id!)">Reject</ion-button>
</div>
<ion-label>{{"&nbsp;".repeat(87)}}{{notice.sentdate}}</ion-label>

</ion-card>
</div>
<br>

<ion-card *ngIf="noticeamount == 0" class="flex-center">
  <ion-button (click)="presentAlert()">No Notifications!</ion-button>
  </ion-card>




</ion-content>