<ion-header>
  <ion-toolbar>
   <ion-item lines="none">
    <ion-title style="margin-left: -7%">Select Location</ion-title>
    <ion-buttons slot="start">
      <ion-icon class="larger-back-button" name="arrow-back" (click)="dismissModal()"></ion-icon>
    </ion-buttons>
   </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content class="centralize">
<ion-grid>
  <ion-row>
    <ion-col size="9">
      <div class="search-container">
        <ion-searchbar placeholder="Gym Name" [(ngModel)]="searchTerm" (ionInput)="onSearchInput($event)" clearInput animated></ion-searchbar>
      </div>
    </ion-col>

    <ion-col size="3">
      <div class="input-container">
        <ion-input id="distance-input" type="number" [(ngModel)]="maxDistance" (ionInput)="loadData()"></ion-input>
        <ion-text style="--padding-bottom: 6px;padding-right: 15px;">km</ion-text>
      </div>
    </ion-col> 
  </ion-row>
</ion-grid>
<ng-container *ngFor="let gym of gyms.results">
  <!-- {{ !gym.name || gym.name.toLowerCase().includes(searchTerm.toLowerCase()) }} -->
  <ng-container *ngIf="gym.business_status=='OPERATIONAL'">
  <!-- <ng-container *ngIf="gym.name.toLowerCase().includes(searchTerm.toLowerCase())"> -->
    <ion-card class="locationCard" *ngIf="gym.name.toLowerCase().includes(searchTerm.toLowerCase())">
      <ng-container *ngIf="gym?.photos?.[0]?.photo_reference">
        <img [src]="getPhotoUrl(gym?.photos?.[0]?.photo_reference)"  alt="Silhouette of mountains" class="gymImage"/>
      </ng-container>
      <ion-card-header style="display: flex; flex-direction: column;" class="gymDetails">
        <ion-card-title class="blackText" >{{ gym.name }}</ion-card-title>
        <br>
        <ion-card-subtitle class="blackText" >{{ gym.vicinity }}</ion-card-subtitle>
        <br>
        <!-- <ion-card-subtitle class="blackText" >Rating: {{ gym.rating ? gym.rating : 'No Rating' }}<ion-icon name="star" class="ratingIcon"></ion-icon></ion-card-subtitle> -->
        <ion-card-subtitle class="blackText" >{{ gym.rating ? gym.rating : 'No Rating' }}<ng-container *ngIf="gym.rating"><ng-container *ngFor="let i of [1,2,3,4,5]"> <ion-icon [name]="calcShape(gym.rating, i)" class="ratingIcon" [ngClass]="{'filled': i <= gym.rating+0.5, 'unfilled': i > gym.rating+0.5}" ></ion-icon> </ng-container></ng-container></ion-card-subtitle>
      </ion-card-header>
      
        <ion-card-content class="friend-container">
          <ng-container *ngIf="gym.friendsLocationInfo && gym.friendsLocationInfo[0] && gym.friendsLocationInfo[0].length > 0; else noFriends">
            <ion-card-content *ngIf="showFriends[gym.place_id]; else dontShowFriends" class="friend-container">
            <ion-card-header class="blackText friendsHeader">
              Friends that have workout sessions scheduled here:
            </ion-card-header>
            <ul class="no-bullet">
              <li *ngFor="let friend of gym.friendsLocationInfo" (click)="viewProfile(friend.id)">
                <div class="friend-details">
                <img [src]="friend[0].profilePhoto" alt="Profile Photo" class="friend-photo"/>
                <div>
                  <p class="friendDisplayName">{{ friend[0].friendDisplayName }}</p>
                  <ul>
                    <li *ngFor="let gymSession of friend">
                      <h1 class="workoutName">{{ gymSession.workoutName }}</h1>
                      <p class="dateAndTime">{{ formatDate(gymSession.date) }}: {{ gymSession.startTime }}-{{ formatTime(gymSession.endTime) }}</p>
                    </li>
                  </ul>
                </div>
                </div>
              </li>
            </ul>
          </ion-card-content>

          <ng-template #dontShowFriends>
            <ion-card-header class="whiteText showFriendsOrNot" style="font-size: 16px; font-weight: 700; text-align: center;" (click)="toggleFriends(gym.place_id, gym.friendsLocationInfo, gymChosen)">
              <!-- ; toggleFriends(gym.place_id) -->
              {{showFriends[gym.place_id] ? 'Hide' : 'Show'}} Friends Workout Sessions
            </ion-card-header>
            <ion-icon name="chevron-down-outline"></ion-icon>
            <ion-modal #modal trigger="open-modal" [initialBreakpoint]="0.75" [breakpoints]="[0, 0.25, 0.5, 0.75, 0.9]">
              <ng-container *ngIf="currentFriendsInfo && currentFriendsInfo[0] && currentFriendsInfo[0].length > 0; else noFriends">
                <!-- <ion-card-header class="blackText friendsHeader">
                  Friends that have workout sessions scheduled here:
                </ion-card-header> -->
                <ul class="no-bullet">
                  <li *ngFor="let friend of currentFriendsInfo" (click)="viewProfile(friend.id)">
                    <div class="friend-details">
                    <img [src]="friend[0].profilePhoto" alt="Profile Photo" class="friend-photo"/>
                    <div>
                      <p class="friendDisplayName">{{ friend[0].friendDisplayName }}</p>
                      <ul>
                        <li *ngFor="let gymSession of friend">
                          <h1 class="workoutName" style="margin-bottom: 0;">{{ gymSession.workoutName }}</h1>
                          <div style="display: flex; ">
                            <div style="margin-right: 8px;">
                              <p class="dateAndTime">{{ formatDate(gymSession.date) }}</p>
                              <p class="dateAndTime" style="margin-top: -10px;">{{ gymSession.startTime }}-{{ formatTime(gymSession.endTime) }}</p>
                            </div>
                            <ion-button style="--background: #A8DADC; --color: black; margin: auto; padding-right: 10px;" (click)="joinSession(gym.name, gym.place_id, gymSession.startTime, gymSession.date, gymSession.endTime, gymSession.workoutName)">Join <br>Session</ion-button>
                          </div>
                        </li>
                      </ul>
                    </div>
                    </div>
                  </li>
                </ul>
              </ng-container>
            </ion-modal>
          </ng-template>
          </ng-container>
          <ng-template #noFriends>
            <ion-card-header class="blackText friendsHeader">
              No friends have workout sessions scheduled here
            </ion-card-header>
          </ng-template>
        </ion-card-content>
        <ion-card-content (click)="selectGym(gym.name, gym.place_id)" class="selectGym">
          Select Gym
        </ion-card-content>
    </ion-card>
  <!-- </ng-container> -->
  </ng-container>
</ng-container>


<ion-item class="nextPage" *ngIf="nextPageToken" (click)="nextPage()">
  <!-- <div class="next-page-content"> =='' && gyms.results.length; else noResults--> 
    Next Page: <ion-icon name="arrow-forward"></ion-icon> 
  <!-- </div> -->
</ion-item>
<ng-template #noResults>
  No more results. Please Reload.
</ng-template> 

</ion-content>