<ion-header>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
  <ion-toolbar>
    <ion-title>Select Location</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-searchbar
      placeholder="Search for gyms"
      [(ngModel)]="searchTerm"
      (ionInput)="onSearchInput($event)"
      color="light"
      animated
      >
</ion-searchbar>   

<ion-item>
  <ion-label position="stacked">Maximum Distance (in kilometers)</ion-label>
  <ion-input type="number" [(ngModel)]="maxDistance" (ionInput)="searchNearbyGyms()"></ion-input>
</ion-item>

<!-- <ion-card *ngFor="let item of filteredData$ | async" (click)="selectGym(item.name)">
  <img [src]="item.image" alt="Silhouette of mountains" />
  <ion-card-header>
    <ion-card-title>{{ item.name }}</ion-card-title>
    <ion-card-subtitle>{{ item.location }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    {{ item.description }}
  </ion-card-content>
</ion-card> -->
<ion-card *ngFor="let gym of gyms.results" (click)="selectGym(gym.name, gym.place_id)">
  <ng-container *ngIf="gym.business_status=='OPERATIONAL'">
    <img [src]="getPhotoUrl(gym?.photos?.[0]?.photo_reference)"  alt="Silhouette of mountains"/>
  <ion-card-header>
    <ion-card-title>{{ gym.name }}</ion-card-title>
    <ion-card-subtitle>{{ gym.vicinity }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <!-- {{ gym.description }} replaced with rating-->
    Rating: {{ gym.rating ? gym.rating : 'No Rating' }}
  </ion-card-content>
  <ion-card-content class="friend-container">
    <ion-card-header>
      Friends that go to this gym
    </ion-card-header>
    <ng-container *ngIf="friends.length > 0; else noFriends">
      <ul class="no-bullet">
        <li *ngFor="let friend of friends" (click)="viewProfile(friend.id)">
          <div class="friend-details">
          <img [src]="friend.profilePhoto" alt="Profile Photo" class="friend-photo"/>
          <div>
            <p>{{ friend.displayName }}</p>
            <ul>
              <li *ngFor="let gymSession of friend.gymSessions">
                <p>{{ gymSession.date }}: {{ gymSession.startTime }}-{{ gymSession.endTime }}</p>
              </li>
            </ul>
            
          </div>
          </div>
        </li>
      </ul>
    </ng-container>
    <ng-template #noFriends>
      No friends go to this gym
    </ng-template>
  </ion-card-content>
  </ng-container>
</ion-card>
</ion-content>