<ion-header>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
  <ion-toolbar>
    <ion-title>Select Location</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- <ion-searchbar
      placeholder="Search for gyms"
      [(ngModel)]="searchTerm"
      (ionInput)="onSearchInput($event)"
      color="light"
      animated
      >
</ion-searchbar>    -->

<ion-item>
  <ion-label position="stacked">Search Radius (km): </ion-label>
  <ion-input type="number" [(ngModel)]="maxDistance" (ionInput)="searchNearbyGyms()"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">Search for a gym by name: </ion-label>
  <ion-input [(ngModel)]="searchTerm" (ionInput)="onSearchInput($event)" placeholder="Enter a gym name" color="light" clearInput animated></ion-input>
</ion-item>

<!-- <ion-card *ngFor="let item of filteredData$ | async" (click)="selectGym(item.name)">
  <img [src]="item.image" alt="Silhouette of mountains" />
  <ion-card-header>
    <ion-card-title>{{ item.name }}</ion-card-title>
    <ion-card-subtitle>{{ item.location }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    {{ item.description }}
  </ion-card-content>
</ion-card> -->
<ng-container *ngFor="let gym of gyms.results">
  <ng-container *ngIf="gym.business_status=='OPERATIONAL'">
    <ion-card (click)="selectGym(gym.name, gym.place_id)" class="locationCard">
      <ng-container *ngIf="gym?.photos?.[0]?.photo_reference">
        <img [src]="getPhotoUrl(gym?.photos?.[0]?.photo_reference)"  alt="Silhouette of mountains" class="gymImage"/>
      </ng-container>
      <ion-card-header style="display: flex; flex-direction: column;" class="gymDetails">
        <ion-card-title class="whiteText" >{{ gym.name }}</ion-card-title>
        <ion-card-subtitle class="whiteText" >{{ gym.vicinity }}</ion-card-subtitle>
        Rating: {{ gym.rating ? gym.rating : 'No Rating' }}
      </ion-card-header>
      <ion-card-content class="friend-container">
        <ng-container *ngIf="gym.friendsLocationInfo && gym.friendsLocationInfo[0] && gym.friendsLocationInfo[0].length > 0; else noFriends">
          <ion-card-header class="whiteText">
            Friends that have workout sessions scheduled here:
          </ion-card-header>
          <ul class="no-bullet">
            <li *ngFor="let friend of gym.friendsLocationInfo" (click)="viewProfile(friend.id)">
              <div class="friend-details">
              <img [src]="friend[0].profilePhoto" alt="Profile Photo" class="friend-photo"/>
              <div>
                <p>{{ friend[0].friendDisplayName }}</p>
                <ul>
                  <li *ngFor="let gymSession of friend">
                    <h1>{{ gymSession.workoutName }}</h1>
                    <p>{{ formatDate(gymSession.date) }}: {{ gymSession.startTime }}-{{ formatTime(gymSession.endTime) }}</p>
                  </li>
                </ul>
              </div>
              </div>
            </li>
          </ul>
        </ng-container>
        <ng-template #noFriends>
          <ion-card-header class="whiteText">
            No friends have workout sessions scheduled here
          </ion-card-header>
        </ng-template>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ng-container>