ion-toolbar {
    --background: #E63946
}

ion-searchbar {
    margin-top: 20px;
}

.no-bullet {
    list-style-type: none;
}


.friend-container {
    background: #E63946;
    border-radius: 15px;
}

.gymDetails{
    background: #E63946;
    border-radius: 15px;
    color: white;
    margin-bottom: 5%;
}

.friend-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.friend-details {
    background: lightgreen;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.locationCard{
    // margin: 10%;
    padding: 5%;
    background: #A8DADC;
    color: white;
}

.gymImage{
    border-radius: 15px;
    margin-bottom: 5%;
}