ion-toolbar {
    --background: #E63946
}

ion-searchbar {
    margin-top: 20px;
}

.no-bullet {
    list-style-type: none;
    padding-left: 0;
}


.friend-container {
    background: #E63946;
    border-radius: 15px;
}

.gymDetails{
    background: #E63946;
    border-radius: 15px;
    color: white !important;
    margin-bottom: 5%;
}

.friend-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.friend-details {
    margin-top: 5%;
    background: #1D3557;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 5%;
}

.locationCard{
    // margin: 10%;
    padding: 5%;
    background: #A8DADC;
    color: white !important;
}

.gymImage{
    border-radius: 15px;
    margin-bottom: 5%;
}

.whiteText{
    color: white;
}

.friendsHeader{
    font-size: 28px;
    font-weight: 700;
}

ion-card-subtitle{
    font-size: 20px;
}

.ratingIcon{
    color: gold;
    margin-bottom: -2px;
}

.friendDisplayName{
    font-size: 22px;
    text-align: center;
}

.workoutName{
    font-size: 18px;
}

.dateAndTime{
    font-size: 15px;
}