.message {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
}
  
.message-sent {
    justify-content: flex-end;
    align-items: flex-end;
}
  
.message-content {
    max-width: 70%;
    padding: 8px;
    border-radius: 8px;
    background-color: #e2e6e9;
    color: #000;
}
  
.message-sent .message-content {
    background-color: #A8DADC; // #dcf8c6;
}
  
.message-bubble {
    word-wrap: break-word;
}
  
.message-timestamp {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    color: #999;
    margin-top: 4px;
}

.message-sender {
    font-style: italic;
    font-weight: bolder;
}

.smaller-item {
    --background: transparent;
    font-size: 1rem;
    padding: 0px;
    padding-top: 2px;
    margin-top: 0px;
    margin-bottom: 5px;
    width: 100%;
}

ion-avatar {
    width: 1.4rem;
    height: 1.4rem;
}