<ion-header>
 <ion-toolbar>
  <ion-item lines="none">
    <backbutton></backbutton>
    <ion-title style="margin: 0 auto;" *ngIf="name$ | async as usersName;">{{usersName}}</ion-title>
    <!-- <ion-title style="margin: 0 auto;">{{user!.name}}'s' Badges</ion-title> -->
  </ion-item>
 </ion-toolbar>
</ion-header>

<ion-content class="badgesContainer">
  <ion-grid class="loginGrid">
    <ng-container *ngIf="!noOfBadges; else hasBadges">
      <!-- <h1 *ngIf="name$ | async as usersName;" style="color: grey;">{{usersName}} has no badges.</h1> -->

      <div class="zero-content-container" *ngIf="name$ | async as usersName;">
        <div class="inner-zero-content-wrapper">
          <ion-icon class="large-icon" name="medal"></ion-icon><br>
          <ion-text>
            {{usersName}} has no badges.
          </ion-text>
        </div>
      </div>
    </ng-container>
    <ng-template #hasBadges>
      <ng-container *ngFor="let badge of badges">
        <badge *ngIf="badge.received"
          [name]="badge.header"
          [receivedDescription]="badge.receivedDescription"
          [notReceivedDescription]="badge.notReceivedDescription"
          [received]="badge.received"
          [imageName]="badge.imageName"
        ></badge>
      </ng-container>
    </ng-template>
  </ion-grid>
</ion-content>