<ion-header style="background-color: #E63946;">
  <ion-toolbar>
    <ion-item style="display: flex; align-items: center; background-color: #E63946;">
      <backbutton class="larger-back-button" style="background-color: #E63946;"></backbutton>
      <ion-title style="margin-left: 1rem; background-color: #E63946;">Exercise Explorer</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="openExerciseModal()">
    Test Modal
    <!-- I just made this button to test the modal. It will be deleted -->
  </ion-button>
</ion-content>