body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
  }

  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Optional: This centers the container vertically as well */
  }

  .center {
    text-align: center;
  }