.user {
    margin: 8px;
    border-radius: 2px;
    .user-name {
        font-weight: bolder;
    }
    
    .stats {
        display: flex;
        justify-content: center;
        color: #457B9D;
    }
    
    ion-item {
        --background: transparent;
    }
    
    .user-pr {
        text-align: center;
        margin: 10px;
        font-style: italic;
    }
}

ion-col {
    text-align: center;
}

.user-col {
    margin-left: 0px;
}

@keyframes borderAnimation {
    0% {border-color: #A8DADC; color: #A8DADC;}
    25% {border-color: #457B9D; color: #457B9D;}
    50% {border-color: #1D3557; color: #1D3557;}
    75% {border-color: #E63946; color: #E63946;}
    100% {border-color: #F1FAEE; color: #F1FAEE;}
} 

.position-container {
    padding: 5px;
    width: 100%;
    border-bottom: 5px solid;
    animation: borderAnimation 10s infinite linear;
    transition: 5s;
    .position {
        text-shadow: 1px 1px 5px;
        font-weight: bolder;
        font-style: italic;
        padding: 5px;
    }
}