<ion-header>
  <ion-toolbar>
    <ion-title>New Personal Best</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-content> -->
  <!-- <form (ngSubmit)="addPersonalBest(formData)">
    <ion-list>
      <ion-item>
        <ion-label>Weight</ion-label>
        <ion-input [(ngModel)]="PersonalBes.weight" type="number" placeholder="Weight"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Repetitions</ion-label>
        <ion-input [(ngModel)]="PersonalBes.repetitions" type="number" placeholder="No. Reps"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Notes</ion-label>
        <ion-input [(ngModel)]="PersonalBes.notes" type="text" placeholder="Enter Notes"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="addPersonalBest()">Add Personal Best</ion-button>
    </ion-list>
    </form> -->
    <form [formGroup]="PersonalBestForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input formControlName="name" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <ion-button type="submit" [disabled]="PersonalBestForm.invalid">Submit</ion-button>
    </form>

 
    
<!-- </ion-content> -->
