<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <backbutton (click)="removeSession()"></backbutton>
    </ion-buttons>
    <ion-title>
      <ion-chip (click)="selectGroup()">
        <ion-avatar>
          <ion-img alt="Silhouette of a person's head" [src]="group.profileURL"/>
        </ion-avatar>
        <ion-label>
          {{group.displayName}}
        </ion-label>
      </ion-chip>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="default-button" (click)="showGroupOptions()">
        <ion-icon *ngIf="!showOptions" name="ellipsis-vertical"></ion-icon>
        <ion-icon *ngIf="showOptions" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #contentElement>
  <div class="chat-container">
    <div class="group-options" *ngIf="showOptions">
      <ion-list class="transparent-list">
        <ion-item class="transparent-item" (click)="exitGroup()" *ngIf="!isOwner()">
          <ion-icon name="exit-outline" slot="start"></ion-icon>
          <ion-label>Exit Group</ion-label>
        </ion-item>
        <ion-item class="transparent-item" (click)="deleteGroup()" *ngIf="isOwner()">
          <ion-icon name="trash-outline" slot="start"></ion-icon>
          <ion-label>Delete Group</ion-label>
        </ion-item>
        <ion-item class="transparent-item" (click)="editGroup()" *ngIf="isAdmin()">
          <ion-icon name="create-outline" slot="start"></ion-icon>
          <ion-label>Edit Group</ion-label>
        </ion-item>
        <ion-item class="transparent-item" (click)="reportGroup()">
          <ion-icon name="alert-outline" slot="start"></ion-icon>
          <ion-label>Report</ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div *ngFor="let message of chats">
      <chatbox
        [message]="message"
        [currentUserId]="currentUserId"
        [showUser]=true
      ></chatbox>
    </div>
  </div>
</ion-content> 

<ion-footer class="input-field-footer">
  <ion-item lines="none" class="message-input-field">
    <div class="input-field-wrapper">
      <ion-textarea autoGrow="true" placeholder="Type a message" [(ngModel)]="message.text"></ion-textarea>
    </div>
    <ion-fab horizontal="end" vertical ="bottom">
      <ion-fab-button class="message-send-fab-button" [color]="isText() ? '' : 'medium'" [disabled]="!isText()" (click)="sendMessage()">
        <ion-icon name="send" class="message-send-icon"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-item>
</ion-footer>