<ion-content>
  <div class="goal-name">
      <ion-title>View Goal</ion-title>
      <ion-label class="goal-name-label">{{goalName}}</ion-label>
    </div>

    <div class="task-list">
      <ion-list>
        <ion-item *ngFor="let task of GOAL.Tasks!">
            <ion-checkbox [(ngModel)]="task.done" slot="start"></ion-checkbox>
            <ion-label class="task-content">{{ task.content }}</ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div class="ion-padding">
      <ion-button expand="block" (click)="saveGoal()">Done</ion-button>
      <ion-button expand="block" routerLink="/fitnessgoals">Cancel</ion-button>
    </div>
  </ion-content>
