<ion-header>
    <ion-toolbar>
        <ion-icon name="arrow-back" slot="start" (click)="dismissModal()"></ion-icon>
        <ion-title>Exercise Instructions</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Name of the exercise</ion-card-title>
            <ion-card-subtitle>Instructions</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content *ngFor="let instruction of Instructions">
            <div class="circle">{{ Instructions.indexOf(instruction) + 1 }}</div>
                <ion-label>
                    <p>{{ instruction }}</p>
                </ion-label>

        </ion-card-content>
    </ion-card>
</ion-content>
