<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <backbutton></backbutton>
    </ion-buttons>
    <ion-title>Friends</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="friends.length > 0; else noFriends">
  <search [data]="friends" [placeholder]="'Search for Friends'"></search>
  <user-friend *ngFor ="let friend of friends" 
    [friend] = "friend"
  >
  </user-friend>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="addFriend()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ng-template #noFriends>
  <ion-content [fullscreen]="true">
   <div class="zero-content-container ">
    <div class="inner-zero-content-wrapper">
      <ion-icon class="large-icon" name="people"></ion-icon><br>
      <ion-text>
        You have no friends. Click the add button to search and discover new friends.
      </ion-text>
    </div>
   </div>

   <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="addFriend()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
   </ion-fab>
  </ion-content>
</ng-template>
