.group-page-profile {
    border-radius: 0px;
    // border-bottom-left-radius: 24px;
    // border-bottom-right-radius: 24px;
    padding: 10px;
    // background: #A8DADC;
    position: relative;
}

.profile-inner-wrapper {
    width: fit-content;
    max-width: 95%;
    margin: auto;
    padding-bottom: 10px;
}

.profile-image {
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
}

ion-label div, .profile-img-container  {
    width: fit-content;
    margin: auto;
    text-align: center;
}

.larger-back-button {
    --padding-start: 12px; 
    --padding-end: 12px; 
    font-size: 24px; 
  }

ion-title {
    text-align: center;
}

ion-segment {
    border-radius: 0px;
}

.group-buttons {
    display: flex;
    justify-content: center;
}

.name, .bio{
    padding-bottom: 10px;
}

.top-buttons {
    width: 100%;
    display: flex;
    .end-buttons {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        .default-button {
            color: white !important;
        }
    }
}

.group-options {
    margin-top: 10px;
}