<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <backbutton class="larger-back-button"></backbutton>
    </ion-buttons>
    <ion-title>Calorie Calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="target" (ionChange)="onSegmentChange($event)">
    <ion-segment-button value="target">
      <ion-label>Target</ion-label>
    </ion-segment-button>
    <ion-segment-button value="diet">
      <ion-label>Intake</ion-label>
    </ion-segment-button>
    <ion-segment-button value="exercise">
      <ion-label>Workout</ion-label>
    </ion-segment-button>
  </ion-segment>
  
  <ion-row class="ion-text-center">
    <ion-col size="12">
      <h3 class="ion-text-center">Total Calories</h3>
      <circle-progress
        [percent]="((totalDietCalories + totalWorkoutCalories) / totalTargetCalories) * 100"
        [radius]="60"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="checkTheme() ? '#4185ff' : '#628BA0'"
        [innerStrokeColor]="checkTheme() ? '#749de9' : '#BFDBEA'"
        [titleColor]="checkTheme() ? '#4185ff' : '#628BA0'"
        [subtitleColor]="checkTheme() ? '#4185ff' : '#628BA0'"
        [animation]="true"
        [animationDuration]="300"
        [title]="returnTitle().replace('%', '')"
        [subtitle]="'/ '+totalTargetCalories.toString()"
        [showUnits]="false"
      ></circle-progress>
    </ion-col>
  </ion-row>
  <ion-row class="ion-text-center">
    <ion-col size="6">
      <ion-label>Workout Calories</ion-label>
      <circle-progress
        [percent]="(totalWorkoutCalories / totalTargetCalories) * 100"
        [radius]="50"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="checkTheme() ? '#4185ff' : '#628BA0'"
        [innerStrokeColor]="checkTheme() ? '#749de9' : '#BFDBEA'"
        [titleColor]="checkTheme() ? '#4185ff' : '#628BA0'"
        [subtitleColor]="checkTheme() ? '#4185ff' : '#628BA0'"
        [animation]="true"
        [animationDuration]="300"
        [title]="returnWorkoutTitle().replace('%', '')"
        [subtitle]="'/ '+totalTargetCalories.toString()"
        [showUnits]="false"
      ></circle-progress>
    </ion-col>
    <ion-col size="6">
      <ion-label>Diet Calories</ion-label>
      <circle-progress
        [percent]="(totalDietCalories / totalTargetCalories) * 100"
        [radius]="50"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="checkTheme() ? '#4185ff' : '#628BA0'"
        [innerStrokeColor]="checkTheme() ? '#749de9' : '#BFDBEA'"
        [titleColor]="checkTheme() ? '#4185ff' : '#628BA0'"
        [subtitleColor]="checkTheme() ? '#4185ff' : '#628BA0'"
        [animation]="true"
        [animationDuration]="300"
        [title]="returnDietTitle().replace('%', '')"
        [subtitle]="'/ '+totalTargetCalories.toString()"
        [showUnits]="false"
      ></circle-progress>
    </ion-col>
  </ion-row>

  <calorie-target [hidden]="selectedSegment !=='target'"></calorie-target>
  <diet-calculator [hidden]="selectedSegment !=='diet'"></diet-calculator>
  <exercise-calculator [hidden]="selectedSegment !=='exercise'"></exercise-calculator>
</ion-content>
