<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <backbutton class="larger-back-button"></backbutton>
    </ion-buttons>
    <ion-title>Calorie Calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="target" (ionChange)="onSegmentChange($event)">
    <ion-segment-button value="target">
      <ion-label>Target</ion-label>
    </ion-segment-button>
    <ion-segment-button value="diet">
      <ion-label>Intake</ion-label>
    </ion-segment-button>
    <ion-segment-button value="exercise">
      <ion-label>Workout</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-card class="summary ion-text-center">
    <!-- <h2>Calories Summary</h2>
    <h4>You require {{ targetCalories$ | async }} calories per day.</h4>
    <h4>You consume {{ dietCalories$ | async }} calories per day.</h4>
    <h4>Your workout burns {{ workoutCalories$ | async }} calories.</h4> -->
    <circle-progress
      [percent]="(totalDietCalories+totalWorkoutCalories / totalTargetCalories) * 100"
      [radius]="80"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
      [title]="returntitle()"
      [subtitle]="'Target Calories'"
      class="circle-progress-container"
    ></circle-progress>
  </ion-card>

  <calorie-target [hidden]="selectedSegment !=='target'"></calorie-target>
  <diet-calculator [hidden]="selectedSegment !=='diet'"></diet-calculator>
  <exercise-calculator [hidden]="selectedSegment !=='exercise'"></exercise-calculator>
</ion-content>
