<ng-container>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-item>
        <backbutton></backbutton>
        <ion-title>Friends</ion-title>
      </ion-item>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <div class = "outer-container">
      <div class="body-content">
        <ion-card *ngFor = "let friend of friends">
          <ion-item>
            <ion-avatar>
              <img src = "{{friend.profileURL}}" alt="image here" />
            </ion-avatar>
            <ion-text>{{friend.name}}</ion-text>
            <ion-icon name="chevron-forward-outline" slot = "end"  *ngIf="!isCurrentUser(friend)" (click)="viewOtherUser(friend)"></ion-icon>
            <ion-text slot="end" *ngIf="isCurrentUser(friend)">you</ion-text>
          </ion-item>
        </ion-card>
      </div>
    </div>
  </ion-content>                
</ng-container>