<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <backbutton></backbutton>
    </ion-buttons>
    <ion-title>Friends</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="friends.length > 0; else noFriends">
  <div class = "outer-container">
    <div class="body-content">
      <div *ngFor = "let friend of friends">
        <friends-contents
          [friend]="friend"
          [userId]="userId"
        ></friends-contents>
      </div>
    </div>
  </div>
</ion-content>

<ng-template #noFriends>
  <ion-content [fullscreen]="true">
   <div class="zero-content-container ">
    <div class="inner-zero-content-wrapper">
      <ion-icon class="large-icon" name="people"></ion-icon><br>
      <ion-text>
       No friends
      </ion-text>
    </div>
   </div>
  </ion-content>
</ng-template>