<ion-card>
  <ion-item *ngIf="!load; else loaderContent" lines="none">
    <ion-avatar slot="start">
      <img [src]="profile.profileURL"/>
    </ion-avatar>
    <ion-label>
      <h2> {{profile.displayName}}</h2>
      <p>{{"~ " + profile.bio}}</p>
    </ion-label>
    <ion-icon name="chevron-forward-outline" slot = "end"  *ngIf="!isCurrentUser()" (click)="viewOtherUser()"></ion-icon>
    <ion-text slot="end" *ngIf="isCurrentUser()">you</ion-text>
  </ion-item>

  <ng-template #loaderContent>
    <ion-item lines="none">
     <div class="loader-wrapper">
       <ion-spinner></ion-spinner>
     </div>
    </ion-item>
  </ng-template>
</ion-card>