<ion-card class="ion-text-center">
  <ion-card-title>
    <h1>Calories Calculator</h1>
  </ion-card-title>


    <ion-card-content>

      <ion-item>
                  <div class="icon-container">
                    <ion-icon name="calculator" class="calculator-icon"></ion-icon>
                  </div>
      </ion-item>

      <ion-list>
        <ion-item class="custom-label">
          <ion-label >Calculation</ion-label>
          <ion-label>Calories/day</ion-label>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item lines="none">
          <ion-label>BMI Value</ion-label>
          <ion-label [class]="getValueColor(BMIValue, 'BMI')">{{ BMIValue | number: '1.0-0' }}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>BMR Value</ion-label>
          <ion-label [class]="getValueColor(bmr, 'BMR')">{{ bmr | number: '1.0-0' }}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>TDEE Value</ion-label>
          <ion-label [class]="getValueColor(TDEEValue, 'TDEE')">{{ TDEEValue | number: '1.0-0' }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Target Calories</ion-label>
          <ion-label [class]="getValueColor(targetCalories, 'target')">{{ targetCalories | number: '1.0-0' }}</ion-label>
        </ion-item>
      </ion-list>


      <ion-item>
                          <ion-button
                            expand="expanded"
                            fill="outline"
                            color="primary"
                            routerLink="/healthdata">
                              Update health Form
                          </ion-button>
        </ion-item>

  </ion-card-content>
</ion-card>
