
  .icon-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .calculator-icon {
    font-size: 7rem;
    color: #E63946;
    margin: 1rem;
  }

  .low-value {
    color: green; /* Color for low values */
  }

  .medium-value {
    color: #b04501; /* Color for medium values */
  }

  .high-value {
    color: red; /* Color for high values */
  }

  .TARGET {
    color: purple; /* Color for very high values */
  }


