
    <ion-card>

      <ion-card-header>
        <ion-card-title>Edit Profile</ion-card-title>
      </ion-card-header>
       <div class="avatar-container" (click)="openPicturePopup()">
        <ion-avatar  class="preview-container" *ngIf="getDp()">
          <img [src]="getDp()" alt="Old Profile Picture">
        </ion-avatar>
      </div>

        <ion-input type="file" accept="image/*" (change)="onPictureChange($event)"></ion-input>

      </ion-card>
      
      
    
    <ion-card>
  
      <ion-button fill = "clear" (click)="toggleEditMode()">
        Edit
      </ion-button>
      
      
      <ion-list>
          <form [formGroup]="profileForm">
          <ion-item [disabled] = "!isEditMode">
            <ion-input label="Display Name"  labelPlacement="stacked" type = "text" formControlName= "displayName" placeholder="Enter Display Name"></ion-input>
          </ion-item>
        
          <ion-item [disabled] = "!isEditMode">
            <ion-input label="Name"  labelPlacement="stacked" type = "text" formControlName= "name"  placeholder="Enter Name"></ion-input>
          </ion-item>
        
          <ion-item [disabled] = "!isEditMode">
            <ion-input label="Bio"  labelPlacement="stacked" type = "text" formControlName= "bio" placeholder="Enter Bio"></ion-input>
          </ion-item>

          <ion-item [disabled] = "!isEditMode">
            <ion-input label="Email"  labelPlacement="stacked" type = "email" formControlName= "email" placeholder="Enter Email"></ion-input>
          </ion-item>
        
          <ion-item [disabled] = "!isEditMode">
            <ion-input label="Phone Number" labelPlacement="stacked" type = "text" formControlName= "phoneNumber" placeholder="Enter Phone Number"></ion-input>
          </ion-item>

          <ion-item [disabled] = "!isEditMode">
            <ion-input label="Height (Cm)"  labelPlacement="stacked" type = "Number" formControlName= "height" placeholder="Enter Height in Cm"></ion-input>
          </ion-item>

          <ion-item [disabled] = "!isEditMode">
            <ion-input label="Weight (Kg)"  labelPlacement="stacked" type = "Number" formControlName= "weight" placeholder="Enter Weight in Kg"></ion-input>
          </ion-item>
          
          <ion-button expand="block" (click)="saveProfile()" [disabled] = "!isEditMode"> Save </ion-button>
          
        </form>
        </ion-list>


      
    </ion-card>
























<!-- 
  <ion-content>
      <ion-card>
  
        <ion-card-header>
          <ion-card-title>Edit Profile</ion-card-title>
        </ion-card-header>
         <div class="avatar-container" (click)="openPicturePopup()">
          <ion-avatar  class="preview-container" *ngIf="ProfilePicture">
            <img [src]="ProfilePicture" alt="Old Profile Picture">
          </ion-avatar>
        </div>
  
          <ion-input type="file" accept="image/*" (change)="onPictureChange($event)"></ion-input>
  
        </ion-card>
        
        <ion-card>
          <ion-button fill = "clear" (click)="toggleEditMode()">
            Edit
          </ion-button>
          
           <ion-button slot="end" fill="clear" (click)="">Edit</ion-button> -->
        <!-- <ion-item>
          <ion-label position="stacked">Name</ion-label>
          <ion-input type="text" [(ngModel)]="user.name" [disabled]="!isEditMode"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label position="stacked">Bio</ion-label>
          <ion-textarea  [(ngModel)]="user.bio"></ion-textarea>
        </ion-item>
  
        <ion-item>
          <ion-label position="stacked">Phone Number</ion-label>
          <ion-input type="text"  [(ngModel)]="user.phoneNumber"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="email"  disabled = "true" [(ngModel)]="user.email"></ion-input>
        </ion-item> -->
      
        <!-- <ion-item>
          <ion-label position="stacked">Change Password</ion-label>
          <ion-input type="password"  [(ngModel)]="user.cPassword"></ion-input>
        </ion-item> -->
      
        <!-- <ion-button expand="block" (click)="saveProfile()" [disabled]="!isEditMode">Save</ion-button>
      
      </ion-card>
  
  
  </ion-content> -->