<!-- <search class="custom-search" [data]="schedules" [placeholder]="'Find Scheduled Sessions'">Find schedule</search> -->

<ion-grid>
  <ion-row>
    <ion-col size="12" size-md="6" size-lg="4" *ngFor="let schedule of schedules;  let i=index" >
      <div class="schedules">
        <schedule-content 
          [schedule]="schedule" 
          [friends]="friends"
        ></schedule-content>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

<div [hidden]="schedules.length > 0">
  <ion-card>
    <ion-item>
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-text>
        You have 0 {{categoryName}} workout sessions.
      </ion-text>
    </ion-item>
  </ion-card>
</div>