<search [data]="schedules"></search>

<ion-card *ngFor="let schedule of schedules" class="schedules">
  <ion-item-sliding>
    <ion-item>
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-text>
        {{schedule.name}}
      </ion-text>
      <ion-button slot="end" (click)="viewSchedule(schedule)">View Schedule</ion-button>
      <ion-button
        slot="end"
        (click)="schedule.workoutAdded ? viewWorkout(schedule) : addWorkout(schedule)"
      >
        {{ schedule.workoutAdded ? 'View Workout' : 'Add Workout' }}
      </ion-button>
    </ion-item>

    <ion-item-options side="start">
      <ion-item-option color="success">Edit</ion-item-option>
    </ion-item-options>

    <ion-item-options side="end">
      <ion-item-option>Favorite</ion-item-option>
      <ion-item-option color="danger" (click)="removeSchedule(schedule)">Delete</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-card>

<div [hidden]="schedules.length > 0">
  <ion-card>
    <ion-item>
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-text>
        You have 0 {{categoryName}} schedules
      </ion-text>
    </ion-item>
  </ion-card>
</div>