<!-- <search class="custom-search" [data]="schedules" [placeholder]="'Find Scheduled Sessions'">Find schedule</search> -->

<div *ngFor="let schedule of schedules;  let i=index" class="schedules">
  <schedule-content 
    [schedule]="schedule" 
    [friends]="friends"
  ></schedule-content>
</div>

<div [hidden]="schedules.length > 0">
  <ion-card>
    <ion-item>
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-text>
        You have 0 {{categoryName}} workout sessions.
      </ion-text>
    </ion-item>
  </ion-card>
</div>