ion-text {
    margin: 20px;
}

ion-item{
    --highlight-height: 0;
    --inner-border-width: 0;
}

ion-card, ion-item {
    opacity: 1;
}

.custom-search {
    border-radius: 12px;
    margin-bottom: 0;
}