.friend {
    ion-text {
        margin: 20px;
        font-size: 25px;
    }
}
.friend:focus {
    zoom: 0.8;
    background-color: aqua;
}

ion-item{
    --highlight-height: 0;
    --inner-border-width: 0;
    border-radius: 12px;
    --background: #A8DADC;
}

*{
    font-family: 'Montserrat', 'sans-serrif';
}

ion-card, ion-item {
    opacity: 1;
}