.outer-container {
  height: 100vh;
}

.inner-container {
  padding-top: 50px;
}

ion-segment {
  border-radius: 15px;
}

ion-content {
  --background: url('/assets/Asset 2.png') no-repeat center/contain fixed; // #1D3557;
}