<ion-header></ion-header>
<br><br><br>
<ion-content>
  <div [ngClass]="{'blur-background': isBlurred, 'default-background': !isBlurred}"></div>
  <h1 class="center2">SweatSession-Bot</h1>
  <br>
  <ion-list class="transparent-list">
    
    <ion-item lines="none" class="transparent-item" *ngFor="let message of messages">
     
      <div [ngClass]="{'user-message': message.sender === 'user', 'bot-message': message.sender === 'SS-bot'}">
        {{ message.displayText }}
      </div>
    </ion-item><br>
  </ion-list>
  <div *ngIf="loading" class="typing-indicator"></div>
  <br><br>
</ion-content>

<ion-footer class="input-field-footer">
  <ion-item lines="none" class="message-input-field">
    <div class="input-field-container input-field-wrapper">
      <ion-textarea [autoGrow]="true" rows="1" placeholder="Enter your Question" [(ngModel)]="userMessage"></ion-textarea>
    </div>

    <ion-buttons slot="end">
      <ion-button class="message-send-fab-button default-button" [color]="isText() ? '' : 'medium'" [disabled]="!isText()" (click)="sendUserMessage()">
        <ion-icon name="send" class="message-send-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-footer>