// color theme
:root {
    --main-color: #F58653; //Tangerine Orange
    --primary-color: #628BA0; // Slate Blue
    --secondary-color: #79919D; // Steel BLue
    --secondary-variant-color: #BFDBEA; // Light Sky Blue
    --background-color: #F2F8FC; // Pale Baby Blue
    --ripple-main-color: #f1a785;
    --ripple-white-color: whitesmoke;
    --input-field-color: white;
    --button-secondary-color: white;
}