body[color-theme="light"] {
    /** color theme **/
  --primary-color: #628BA0;
  --primary-text-color: #628BA0;
  --secondary-color: #79919D;
  --secondary-variant-color: #BFDBEA;
  --background-color: #F2F8FC;
  --background-color-light: #f7fafd;

  --input-field-color: white;
  --button-secondary-color: white;
  --ion-background-color: var(--background-color-light);
  --ion-color-primary: var(--primary-text-color);

  --ion-text-color: var(--primary-color);

  --ion-color-step-50: var(--background-color);
  --ion-color-step-100: var(--background-color);
  --ion-color-step-150: var(--background-color);
  --ion-color-step-200: #3a7cee;
  --ion-color-step-250: #588cec;
  --ion-color-step-300: #72a1ef;
  --ion-color-step-350: var(--background-color);
  --ion-color-step-400: var(--primary-color);
  --ion-color-step-450: #c7e2f8;
  --ion-color-step-500: #fcf7f7;
  --ion-color-step-550: var(--primary-color);
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: var(--primary-color);
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  
  --ion-item-background: var(--background-color);

  --ion-card-background: var(--background-color);
  --ion-toolbar-background: var(--background-color);
  --ion-item-background: var(--background-color);
  --ion-tab-bar-background: var(--background-color);
  --ion-tab-bar-border-color: var(--background-color);
  --ion-tab-bar-color: #79878f;
  --ion-item-divider-color: var(--primary-color);
  --ion-modal-background-color: var(--background-color);
  --ion-label-color: var(--primary-color);
  
  ion-menu-button {
    color: var(--primary-text-color);
  }

  ion-text, p {
    color: var(--primary-text-color);
  }

  ion-button:not(ion-buttons ion-button), ion-fab-button {
    --background: var(--primary-color);
    --background-hover: var(--secondary-color);
    --background-activated: var(--secondary-color);
    --background-focused: var(--secondary-color);
    --border-color: var(--primay-color);
    --color: white !important;
  }

  ion-buttons ion-button {
    --color: var(--primary-color)
  }

  ion-segment-button {
    --indicator-color: var(--primary-color);
  }

  /* Android styles */
  ion-segment-button.md {
    --color-checked: var(--primary-color);
  }
  
  /* iOS styles */
  ion-segment-button.ios {
    --color-checked: white;
  }

  ion-button:not(ion-buttons ion-button) ion-icon.md, ion-fab-button ion-icon.md{
    color: white;
  }

  .message .message-content{
    background-color: rgb(201, 201, 201);
    color: black;
    .smaller-item {
      color: black;
    }
  }

  .message-sent .message-content {
    background-color: var(--secondary-variant-color); // #dcf8c6;
    color: black;
  }

  .message-timestamp {
    color: rgb(46, 46, 46);
  }

  swiper-container::part(bullet-active) {
    background-color: var(--primary-color); // #A8DADC;
  }

  .circle {
    background-color: var(--primary-color);
  }

  ion-card {
    ion-card-title {
      color: var(--primary-color);
    }
    color: var(--primary-color);
  }

  .schedule-header{
    background-color: var(--primary-color);
    color: white;
    .schedule-name, ion-icon {
      color: white;
    }
  }

  .goal-header {
    --background: var(--primary-color);
    color: white;
    .goal-name {
      color: white;
    }
  }

  .input-field {
    border: 2px solid var(--primary-color);
  }

  .group-options {
    background-color: var(--primary-color);
    *, ion-icon {
      color: white;
    }
  }

  ion-alert {
    --background: var(--background-color);
    color: var(--primary-color);
  }

  ion-alert *.md {
    color: var(--primary-color);
  }

  ion-tab-button.ios{
    --color: #79878f;
    --color-selected: var(--primary-color);
  }

  ion-checkbox {
    --size: 32px;
    --checkbox-background-checked: var(--primary-color);
  }
  
  ion-checkbox::part(container) {
    border-radius: 50%;
    border: 2px solid var(--primary-color);
  }

  .item-field {
    --background: var(--secondary-variant-color);
  }
}

// body[color-theme="light"] {
//   --primary-color: #4a87a5;

//   --ion-background-color: #F2F8FC;
//   --ion-background-color-rgb: 255, 255, 255;
//   --ion-text-color: var(--primary-color);
//   --ion-text-color-rgb: 0, 0, 0;
  
//   --ion-color-step-50: #F2F8FC;
//   --ion-color-step-100: #F2F8FC;
//   --ion-color-step-150: #F2F8FC;
//   --ion-color-step-200: #F2F8FC;
//   --ion-color-step-250: #F2F8FC;
//   --ion-color-step-300: #F2F8FC;
//   --ion-color-step-350: #F2F8FC;
//   --ion-color-step-400: #F2F8FC;
//   --ion-color-step-450: #F2F8FC;
//   --ion-color-step-500: #F2F8FC;
//   --ion-color-step-550: #F2F8FC;
//   --ion-color-step-600: #F2F8FC;
//   --ion-color-step-650: #F2F8FC;
//   --ion-color-step-700: #F2F8FC;
//   --ion-color-step-750: #F2F8FC;
//   --ion-color-step-800: #F2F8FC;
//   --ion-color-step-850: #F2F8FC;
//   --ion-color-step-900: #F2F8FC;
//   --ion-color-step-950: #F2F8FC;
  
//   --ion-item-background: #F2F8FC;
//   --ion-card-background: #F2F8FC;
//   --ion-toolbar-background: #F2F8FC;
//   --ion-item-background: #F2F8FC;
//   --ion-tab-bar-background: #F2F8FC;
//   --ion-tab-bar-border-color: #F2F8FC;
//   --ion-tab-bar-color: var(--primary-color);
//   --ion-item-divider-color: #F2F8FC;
//   --ion-modal-background-color: #F2F8FC;
  
//   ion-text, p {
//     color: var(--primary-color);
//   }
// }