<ion-card>
  <ion-item-sliding>
    <ion-item class="schedule-header" id="viewer" lines="none">
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-text class="schedule-name">
        {{schedule.name}}
      </ion-text>
      <ion-button slot="end" (click)="join()" *ngIf="inSession()" [disabled]="joined()">{{ joined() ? "Joined" : "Join" }}</ion-button>
      <ion-icon name="chevron-down-outline" slot="end" (click)="viewSchedule()" *ngIf="!isSlideShow"></ion-icon>
      <ion-icon name="chevron-up-outline" slot="end" (click)="viewSchedule()" *ngIf="isSlideShow"></ion-icon>
    </ion-item>

    <ion-item-options side="start" *ngIf="!isCompleted()">
      <ion-item-option color="success" (click)="toggleEditSlide()">{{ isEditSlide ? "Cancel" : "Edit" }}</ion-item-option>
    </ion-item-options>
    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="presentActionSheet()">Delete</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <div class="content" *ngIf="isSlideShow">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-icon class="schedule-value-icon" name="barbell-outline"></ion-icon><ion-text class="schedule-value">{{schedule.name}}</ion-text><br>
            <ion-icon class="schedule-value-icon" name="calendar-outline"></ion-icon><ion-text class="schedule-value">{{schedule.date}}</ion-text><br>
            <ion-icon class="schedule-value-icon" name="time-outline"></ion-icon><ion-text class="schedule-value">{{schedule.time}}</ion-text><br>
            <ion-icon class="schedule-value-icon" name="location-outline"></ion-icon><ion-text class="schedule-value">{{schedule.location}}</ion-text><br>
            <ion-icon class="schedule-value-icon" name="timer-outline"></ion-icon><ion-text class="schedule-value">{{schedule.duration}} minutes</ion-text><br>
          </ion-col>
          <ion-col size="4">
            <div class="weightlifting-animation">
              <ion-icon src="/assets/dumbbell-exercise-svgrepo-com.svg" size="large" *ngFor="let i of [1,2,3]"></ion-icon>
            </div>
            <button class="exercise-button" (click)="schedule.workoutAdded ? viewWorkout(schedule) : addWorkout(schedule)"
            *ngIf="!isCompleted()">
              <ion-icon name="add-circle"></ion-icon> {{ schedule.workoutAdded ? 'View Workout' : 'Add Workout' }}
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>      
    </ion-card-content>
  </div>

  <ion-card-content *ngIf="isEditSlide">
    <edit-schedule [schedule]="schedule"></edit-schedule>
  </ion-card-content>

  <div class="info">
    <ion-item class="progress-label" lines="none">
      <ion-label>{{timeLeft()}}</ion-label>
      <ion-icon name="checkmark-done-outline" slot="end" [ngClass]="{'active': joined(), 'inactive': !joined()}"></ion-icon>
      <ion-buttons slot="end">
        <ion-button class="default-button" [id]="id">
          <ion-icon name="person-add" class="add-icon"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-progress-bar [value]="ratio"></ion-progress-bar>
  </div>
</ion-card>

<ion-modal #modal [trigger]="id" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.25, 0.5, 0.75]">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button slot="start" class="default-button" (click)="modal.dismiss()">Cancel</ion-button>
        </ion-buttons>
        <ion-title class="add-friends-title">{{"Select Friends"}}</ion-title>
        <ion-buttons slot="end">
          <ion-button class="default-button" (click)="confirmSelection()">Confirm</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-searchbar placeholder="Search" (click)="modal.setCurrentBreakpoint(0.75)"></ion-searchbar>
      <ion-list class="transparent-list">
        <ion-item lines="none" class="transparent-item" *ngFor="let friend of friends; let i=index" >
          <ion-checkbox [(ngModel)]="selectedFriends[i]" labelPlacement="end" justify="start">
            <ion-item class="transparent-item" lines="none">
              <ion-avatar slot="start">
                <ion-img [src]="friend.profileURL"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>{{friend.displayName}}</h2>
                <p>{{friend.bio}}</p>
              </ion-label>
            </ion-item>
          </ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>