ion-text {
    margin: 20px;
}

.schedule-header{
    --highlight-height: 0;
    --inner-border-width: 0;
    --background: #A8DADC;
    border-radius: 12px;
}

ion-card, ion-item {
    opacity: 1;
}

ion-icon.active {
    color: #457b9d;
}

ion-icon.inactive {
    color: grey;
}

ion-progress-bar {
    --progress-background: #457b9d;
}

.add-icon {
    color: #E63946;
    height: 35px;
    width: 35px;
}

.add-icon:hover {
    zoom: 1.05;
}

.add-friends-title {
    font-size: small;
}

ion-list {
    overflow: scroll;
}