ion-text {
    margin: 20px;
}

.schedule-name {
    font-weight: bold;
}
  
.schedule-header{
    --highlight-height: 0;
    --inner-border-width: 0;
    --background: var(--main-color);
    border-radius: 12px;
    border-end-end-radius: 0px;
    border-end-start-radius: 0px;
}

ion-card, ion-item {
    opacity: 1;
}

ion-icon.active {
    color: #457b9d;
}

ion-icon.inactive {
    color: grey;
}

.schedule-value-icon {
    // color: #1D3557;
    font-weight: bolder;
}

.add-icon:hover {
    zoom: 1.05;
}

.add-friends-title {
    font-size: small;
}

.weightlifting-animation {
    animation: weightlifting 1s infinite;
}

@keyframes weightlifting {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.exercise-button {
    //background-color: #E63946;
    //color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .completed {
    text-decoration: line-through;
  }
  

