ion-text {
    margin: 20px;
}

ion-item:not(.progress-label) {
    --highlight-height: 0;
    --inner-border-width: 0;
    --background: #A8DADC;
    border-radius: 12px;
}

#viewer {
    ion-button {
        --background: #E63946;
        --color: black;
    }
}

ion-card,
ion-item {
    opacity: 1;
}

ion-button {
    --background: #A8DADC;
    --background-hover: #9ce0be;
    --background-activated: #88f4be;
    --background-focused: #88f4be;

    --color: #000;

    --border-color: #E63946;
    --border-style: solid;

    --ripple-color: deeppink;
}

ion-icon.active {
    color: blue;
}

ion-icon.inactive {
    color: grey;
}

.location-container {
    display: flex;
    align-items: center;
}

.location-icon {
    margin-left: auto;
    margin-right: 24px;
    /* Same width as built-in calendar icon */
    font-size: 20px !important;
    margin-top: 20px;
}