ion-card {
  height: 100%;
  margin:0px;
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
  border: 2px solid rgb(9, 50, 66);
  overflow-y:auto;
  .inner-wrapper {
    max-width: 800px;
    margin: 20px;
    .logo-container {
      background-color: aqua;
    }
  }
}

ion-content {
  overflow: hidden;
}

