/*.createaccount-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

:host,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  flex-shrink: 0;
  text-decoration: none;
  min-width: 0;
  overflow-wrap: anywhere;
}

:host,
:not(span, a, ul, ol, li, p) {
  display: flex;
}

ul,
ol {
  text-indent: 0;
  padding-inline-start: 1.5em;
}

p:empty::before {
  content: '';
  display: inline-block;
}

img {
  object-fit: contain;
}

svg {
  overflow: visible;
}

:host {
  position: relative;
  width: 100vw;
  height: 100vh;
  align-items: flex-start;
  border-radius: 15px;
  background-color: #F1FAEE;
  overflow: hidden;
}
.ellipse1 {
  position: absolute;
  left: calc(50% - -3px);
  top: 116px;
  width: 160px;
  height: 149px;
  overflow: visible;
  transform: translateX(-50%);
}
.icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sweatsessionlogotransparent1 {
  position: absolute;
  left: 144px;
  top: 140px;
  width: 106.8182px;
  height: 100px;
  background-image: url('/assets/sweatsessionlogotransparent1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.signIn {
  color: #000;
  font-size: 30px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 54px;
  top: 275px;
  width: 288px;
  height: 44px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.profileTopnav {
  position: absolute;
  left: 47px;
  top: 372px;
  width: 295px;
  height: 50px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profileTopnav2 {
  position: absolute;
  left: 47px;
  top: 448px;
  width: 295px;
  height: 50px;
  outline: solid 1px #e63946;
  outline-offset: -1px;
  border-radius: 20px;
  background-color: #a8dadc;
}
.profileTopnav3 {
  position: absolute;
  left: 76px;
  top: 532px;
  width: 233px;
  height: 39px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.donTHaveAnAccount {
  color: #000;
  font-size: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 93px;
  top: 624px;
  width: 204px;
  height: 20px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.registerHere {
  position: absolute;
  border-radius: 20px;
  left: 93px;
  top: 662px;
  width: 204px;
  height: 21px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.labelWrapper {
  font-size: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #000;
  font-size: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label2 {
  color: #000;
  font-size: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label3 {
  color: #000;
  font-size: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}

#registerButton {
  --background: #A8DADC;
  position: absolute;
  left: 47px;
  top: 650px;
  width: 295px;
  height: 50px;
  outline-offset: -1px;
  --border-radius: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid #E63946;

}

.loginButton {  
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 150px;
  height: 50px;
  white-space: nowrap;
  flex-direction: column;
  justify-content: center;
  --border-radius: 20px;
    border-radius: 20px;
    --background: #A8DADC;
    border: 2px solid #E63946;
}

.centreButton {
  left: calc(50% - -3px);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width:100%;
}

.vector {
  position: absolute;
  left: 16.9231%;
  right: 76.1538%;
  top: 45.2607%;
  bottom: 51.8957%;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.password {
  color: #000;
  font-size: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 113px;
  top: 464px;
  width: 100px;
  height: 18px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.email {
  color: #000;
  font-size: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 113px;
  top: 384px;
  width: 61px;
  height: 18px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}



*/

.loginContainer {
  --ion-background-color: #F1FAEE;
}

.loginGrid{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.loginHeader {
  color: #000;
  font-size: 30px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    text-align: center;
    align-items: center;
    margin-bottom: 10%;
}

.sweatSessionLogo{
  width: 150px;
  height: 150px;
  margin-bottom: 5%;
}

.label{
  color: #000;
}

.emailSection, .passwordSection{
  --border-radius: 30px;
    border-radius: 30px;
    --background: #A8DADC;
    border: 3px solid #E63946;
  //   --margin-top: 50px;
  // --margin-bottom: 50px;
}

.emailSection{
  margin-bottom: 5%;
}

.passwordSection{
  margin-bottom: 10%;
}

.question {
  margin-top: 20%;
  --padding-bottom: 0;
}

ion-button {
  --background: #A8DADC;
  --background-hover: #9ce0be;
  --background-activated: #88f4be;
  --background-focused: #88f4be;

  --color: #F1FAEE;

  --border-radius: 30px;
  --border-color: #E63946;
  --border-style: solid;
  --border-width: 3px;

  

  --ripple-color: deeppink;

  --padding-top: 20px;
  --padding-bottom: 20px;
}

span{
  font-size: 20px;
}

#registerButton{
  font-size: 20px;
  width: 80%;
  padding-bottom: 15%;
}

#loginButton{
  margin-left: 25%;
  width:50%;
  justify-content: center;
}
// , .loginButton, .registerButton