<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Edit Group Profile</ion-title>
    <ion-buttons slot="start">
      <ion-button class="default-button" (click)="closeModal()">
        <ion-icon name="arrow-back-outline" class="larger-back-button"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="outer-container">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
          <div class="group-profile-container">
            <div class="group-profile-inner-container">
              <ion-avatar (click)="selectFile()" style="cursor: pointer; position: relative;">
                <ion-img [src]="editGroup.profileURL"></ion-img>
                <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                  <p style="text-align: center; padding-top: 20%; font-weight: bolder;">Tap to select a new image</p>
                </div>
              </ion-avatar>
            
              <input type="file" id="GroupProfileImgInput" accept="image/*" (change)="onFileSelected($event)" style="display: none">
            </div>
          </div>
        </ion-col>
      </ion-row>
  
      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
          <div class="input-field-container">
            <ion-label>Group name</ion-label>
            <ion-item lines="none" class="input-field">
              <ion-input type="text" (ionInput)="isChange()" [(ngModel)]="editGroup.displayName"></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
  
      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
          <div class="input-field-container">
            <ion-label>Group bio</ion-label>
            <ion-item lines="none" class="input-field">
              <ion-textarea rows='4' (ionInput)="isChange()"  maxlength="120" type="text" [(ngModel)]="editGroup.bio"></ion-textarea>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
  
      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
          <ion-button (click)="edit()" [disabled]="!valuesChanged" expand="block">Save</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>