<ion-header>
    <ion-toolbar>
      <ion-item lines="none">
        <backbutton></backbutton>
        <ion-title> Personal Bests </ion-title>
      </ion-item>
    </ion-toolbar>
  </ion-header>
<ion-content>

<app-personal-bests-chart *ngIf="!showForm">

</app-personal-bests-chart>

<!-- <ion-button *ngIf="!showForm" (click)="openPopup()">Add new best</ion-button> -->

<ion-fab slot="fixed" vertical="bottom" horizontal="centre">
  <ion-fab-button *ngIf="!showForm" (click)="openPopup()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content *ngIf="showForm">
<form [formGroup]="PersonalBestForm" (ngSubmit)="onSubmit()" >

    <ion-item>
      <ion-label>Exercise</ion-label>
      <ion-select formControlName="exercise" placeholder="Select One">
        <ion-select-option value="Bench Press">Bench Press</ion-select-option>
        <ion-select-option value="Squats">Squats</ion-select-option>
        <ion-select-option value="Deadlifts">Deadlifts</ion-select-option>
        <ion-select-option value="Overhead Press">Overhead Press</ion-select-option>
        <ion-select-option value="Barbell Rows">Barbell Rows</ion-select-option>
        <ion-select-option value="Push ups">Push ups</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Weight</ion-label>
      <ion-input formControlName="weight" type="number"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Repitetions</ion-label>
        <ion-input formControlName="reps" type="number"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Date</ion-label>
        <ion-datetime presentation="date" formControlName="date" displayFormat="YYYY/MM/DD" placeholder="Select Date"></ion-datetime>
    </ion-item>

    <ion-item>
        <ion-label>Location</ion-label>
        <ion-input formControlName="location" type="txt"></ion-input>
      </ion-item>

    <ion-item>
      <ion-label>Notes</ion-label>
      <ion-input formControlName="notes" type="txt"></ion-input>
    </ion-item>
    <ion-button type="submit" [disabled]="PersonalBestForm.invalid">Submit</ion-button>
</form>
</ion-content>

  
</ion-content>