<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Workout schedule</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-icon name="barbell-outline"></ion-icon><ion-text class="schedule-value">pull ups</ion-text><br>
      <ion-icon name="calendar-outline"></ion-icon><ion-text class="schedule-value">2023-06-01</ion-text><br>
      <ion-icon name="time-outline"></ion-icon><ion-text class="schedule-value">18:00</ion-text><br>
      <ion-icon name="barbell-outline"></ion-icon><ion-text class="schedule-value">zone fitness, menlyn</ion-text><br><br>
    </ion-card-content>
    <ion-button expand="full" (click)="closePopup()">Close</ion-button>
  </ion-card>
</ion-content>

<!-- <ion-label>Schedule Name</ion-label>
      <ion-input name="text"></ion-input>
      <ion-label>Workout Name</ion-label>
      <ion-input name="text"></ion-input>
      <ion-label>Workout place</ion-label>
      <ion-input name="text"></ion-input>
      <ion-label>Date</ion-label>
      <ion-input name="text"></ion-input>
      <ion-label>time</ion-label>
      <ion-input name="text"></ion-input>
      <ion-label>duration</ion-label>
      <ion-input name="text"></ion-input> -->