.outer-container {
  .auth-container {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      .welcome-container {
          text-align: center;
          .welcome-title {
              font-size: x-large;
              font-weight: bolder;
              color: var(--secondary-color);
          }
      }
      
      .form-container {
          margin-top: 20px;
          .input-field-container {
              margin-top: 20px;
              .input-field {
                  background-color: white;
                  margin-top: 10px;
                  border-radius: 10px;
              }
          }
      
          .forgot-password {
              margin-top: 20px;
              margin-bottom: 20px;
              display: flex;
              justify-content: flex-end;
          }
      
          .button-container {
              margin-top: 40px;
          }
      }

      .bottom-message-container {
        margin-top: 20px;
        text-align: center;
      }

      .register-link, .forgot-password {
          color: var(--primary-color);
          font-weight: bold;
      }
  }
}

