<div class="outerContainer" style="background-color: #A8DADC;">
  <ion-card style="background-color: #A8DADC;">
    <div class="inner-container" style="background-color: white;">
        <img src="/assets/Asset 1.png" />

        <div class="text-container">
          <h5>Sign up</h5>
          <ion-text>Please register an account</ion-text>
        </div>
      <form [formGroup]="registrationForm"
      ngxsForm="register.registrationForm"
      (submit)="register()">
        <ion-item class="input-item">
          <ion-label position="floating">
            <ion-icon src="/assets/vector-icon.svg"></ion-icon>  Email
          </ion-label>
          <ion-input
            type="email"
            name="email"
            formControlName="email"
            required
          ></ion-input>
        </ion-item>
  
        <ion-item class="input-item">
          <ion-label position="floating">
            🔑 Password
          </ion-label>
          <ion-input
            type="password"
            name="password"
            minlength="6"
            maxlength="25"
            formControlName="password"
            required
          ></ion-input>
        </ion-item>
  
        <ion-item class="input-item">
          <ion-label position="floating">
            🔑 Confirm Password
          </ion-label>
          <ion-input
            type="password"
            name="cPassword"
            minlength="6"
            maxlength="25"
            formControlName="cPassword"
            required
          ></ion-input>
        </ion-item>
  
        <ion-button 
          expand="block" 
          type="submit" 
          class="registerButton"
        >Create Account</ion-button>
      </form>
      
      <ion-card-subtitle>
        Already have an account?
        <hr>
      </ion-card-subtitle>
      <ion-button class="signIn-buttons" expand="block" >
        <ion-icon name="logo-google" style="padding-right:5%;"></ion-icon>
        <ion-text>Continue with google</ion-text>
      </ion-button>
      <ion-button class="signIn-buttons" expand="block" routerLink="/login">Sign in</ion-button>
    </div>
    </ion-card>
</div>
