.outerContainer {
  --ion-background-color: #F1FAEE;
  // --background: url('/assets/Asset 1.png') no-repeat center/cover fixed;
 animation: fadeIn 5s;
}

ion-card {
  background-color: rgba($color: #a9cfe0, $alpha: 0.2);
  padding: 20px;
}

img {
  height: 18px;
  width: 40px;
  background-color: aqua;
  border-radius: 50%;
  border:1px solid lightcoral;
}

ion-card-title {
  font-weight: bold;
  font-style: italic;
  color: lightcoral;
  text-shadow: #a9cfe0 2px 2px;
  margin-bottom: 40px;
}

ion-card-subtitle {
  margin: 20px;
}

ion-card-header {
  color: #000;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}

.signIn-buttons {
  margin-bottom: 10px;
}

.registrationGrid{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.input-item{
  --background: transparent;
  margin-bottom: 5%;
  border-radius: 10px;
  color: black;
  font-weight: bolder;
}

@keyframes fadeIn {
  0% { opacity: 0.1; }
  100% { opacity: 1; }
}