  <ion-item>
   <ion-label position="floating"><ion-icon name="barbell-outline"></ion-icon></ion-label>
    <ion-input type="text" value="{{schedule.name}}" [(ngModel)]="schedule.name"></ion-input><br>
  </ion-item>

  <ion-item>
   <ion-label position="floating"><ion-icon name="calendar-outline"></ion-icon></ion-label>
    <ion-input type ="date" value="{{schedule.date}}" [(ngModel)]="schedule.date"></ion-input><br>
  </ion-item>

  <ion-item>
   <ion-label position="floating"><ion-icon name="time-outline"></ion-icon></ion-label>
    <ion-input type = "time"value="{{schedule.time}}" [(ngModel)]="schedule.time"></ion-input><br>
  </ion-item>

  <ion-item>
   <ion-label position="floating"><ion-icon name="location-outline"></ion-icon></ion-label>
  <ion-input type = "text" value="{{schedule.location}}" [(ngModel)]="schedule.location"></ion-input><br>
  </ion-item>

  <ion-item>
   <ion-label position="floating"><ion-icon name="timer-outline"></ion-icon></ion-label>
    <ion-input type = "number" value="{{schedule.duration}}" [(ngModel)]="schedule.duration"></ion-input><br><br>
  </ion-item>

  <ion-button expand="block" (click) = "editSchedule()">Save</ion-button>