<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col size="12">
      <div class="input-field-container">
        <ion-label>
          <ion-icon name="barbell-outline"></ion-icon>
          Name
        </ion-label>
        <ion-item class="input-field" lines="none">
          <ion-input type="text" value="{{schedule.name}}" [(ngModel)]="schedule.name" (ionChange)="checkChange()"></ion-input>
        </ion-item>
      </div>
    </ion-col>
  </ion-row>
  
  <ion-row class="ion-justify-content-center">
    <ion-col size="6">
      <div class="input-field-container">
        <ion-label>
          <ion-icon name="calendar-outline"></ion-icon> Date
        </ion-label>
        <ion-item class="input-field" lines="none">
          <ion-input type ="date" value="{{schedule.date}}" [(ngModel)]="schedule.date" [min]="getMinDate()" (ionChange)="checkChange()"></ion-input>
        </ion-item>
      </div>
    </ion-col>
    <ion-col size="6">
      <div class="input-field-container">
        <ion-label>
          <ion-icon name="time-outline"></ion-icon> Time
        </ion-label>
        <ion-item class="input-field" lines="none">
          <ion-input type = "time"value="{{schedule.time}}" [min]="getMinTime()" [(ngModel)]="schedule.time" (ionChange)="checkChange()"></ion-input>
        </ion-item>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size="12">
      <ion-note *ngIf="!isDateTimeValid()" color="danger">
        *Schedule already overdue, you have to reschedule to edit it.
      </ion-note>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size="12">
      <div class="input-field-container">
        <ion-label>Location</ion-label> 
        <ion-item lines="none" class="input-field">   
          <ion-input type="text" [(ngModel)]="schedule.location" placeholder="Click on the location icon"></ion-input>
          <ion-icon name="location" slot="end" class="location-icon" (click)="openLocationModal()"></ion-icon>      
        </ion-item>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size="12">
      <div class="input-field-container">
        <ion-label>
          <ion-icon name="timer-outline"></ion-icon> Duration (min)
        </ion-label>
        <ion-item class="input-field" lines="none">
          <ion-input type = "number" value="{{schedule.duration}}" [(ngModel)]="schedule.duration" (ionChange)="checkChange()"></ion-input>
        </ion-item>
      </div>
      <ion-note *ngIf="!IsvalidDuration()" color="danger">
        *Duration should be greater than 10 minutes
      </ion-note>
    </ion-col>
  </ion-row>
  <ion-button expand="block" (click) = "editSchedule()" [disabled]="!isChange" style="padding-top: 5px">Save</ion-button>
</ion-grid>