  <ion-item>
    <ion-label position="floating">
      <ion-icon name="barbell-outline"></ion-icon>
      Name
    </ion-label>
    <ion-input type="text" value="{{schedule.name}}" [(ngModel)]="schedule.name" (ionChange)="checkChange()"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">
      <ion-icon name="calendar-outline"></ion-icon> Date
    </ion-label>
    <ion-input type ="date" value="{{schedule.date}}" [(ngModel)]="schedule.date" (ionChange)="checkChange()"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">
      <ion-icon name="time-outline"></ion-icon> Time
    </ion-label>
    <ion-input type = "time"value="{{schedule.time}}" [(ngModel)]="schedule.time" (ionChange)="checkChange()"></ion-input>
  </ion-item>

  <!-- <ion-item>
    <ion-label position="floating">
      <ion-icon name="location-outline"></ion-icon> Location
    </ion-label>
  <ion-input type = "text" value="{{schedule.location}}" [(ngModel)]="schedule.location" (ionChange)="checkChange()"></ion-input>
  </ion-item> -->
  <div class="location-container">
    <ion-item class="location-item">   
      <ion-label position="stacked">Location</ion-label>  
      <ion-input type="text" [(ngModel)]="schedule.location" placeholder="Click on the location icon"></ion-input>      
    </ion-item>
  
    <ion-icon name="location" slot="end" class="location-icon" (click)="openLocationModal()"></ion-icon>
  </div>

  <ion-item>
    <ion-label position="floating">
      <ion-icon name="timer-outline"></ion-icon> Duration
    </ion-label>
    <ion-input type = "number" value="{{schedule.duration}}" [(ngModel)]="schedule.duration" (ionChange)="checkChange()"></ion-input>
  </ion-item>

  <ion-button expand="block" (click) = "editSchedule()" [disabled]="!isChange">Save</ion-button>