<div class="search">
  <ion-searchbar [placeholder]="placeholder"
    [(ngModel)] = "searchTerms.searchQuery"
    (ionInput) = onSearchInput($event)
    animated
  ></ion-searchbar>
  <ion-list *ngIf="searchTerms.showSuggestions">
    <ion-item lines="none" *ngFor="let suggestion of searchTerms.filteredSuggestions" (click)="find(suggestion.name!)">
      {{ suggestion.name }}
    </ion-item>
    <ion-item lines="none" *ngIf="searchTerms.filteredSuggestions!.length==0">
      <ion-text>not results found</ion-text>
    </ion-item>
  </ion-list>
</div>