<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <backbutton></backbutton>
      </ion-buttons>
      <ion-title class="ion-text-center">Workout Planning</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="image-container">
    <img src="../../../assets/Asset 2.png" alt="Image" class="centered-image"/>
  </div>

  <div class="heading-container">
    <h2>Customize your workout plan here</h2>
  </div>
  
  <div class="grid-container">
    <div class="form-container">
      <form [formGroup]="workoutForm">
        <div formArrayName="exercises" *ngFor="let exercise of exercises.controls; index as i">
          <div class="exercise-number">Exercise {{ i + 1 }}</div>
          <div [formGroupName]="i">
            <div class="inputField-container">
              <ion-label>Exercise name*</ion-label>
              <ion-item lines="none" class="input-field">
                <ion-select formControlName="name" placeholder="Select an exercise" (change)="exerciseSelected($event, i)">
                  <ion-select-option value="Barbell Curls">Barbell Curls</ion-select-option>
                  <ion-select-option value="Barbell Rows">Barbell Rows</ion-select-option>
                  <ion-select-option value="Bench Presses">Bench Presses</ion-select-option>
                  <ion-select-option value="Bicep Curls">Bicep Curls</ion-select-option>
                  <ion-select-option value="Burpees">Burpees</ion-select-option>
                  <ion-select-option value="Calf Raises">Calf Raises</ion-select-option>
                  <ion-select-option value="Chest Press">Chest Press</ion-select-option>
                  <ion-select-option value="Crunches">Crunches</ion-select-option>
                  <ion-select-option value="Deadlifts">Deadlifts</ion-select-option>
                  <ion-select-option value="Dumbbell Rows">Dumbbell Rows</ion-select-option>
                  <ion-select-option value="Jumping Jacks">Jumping Jacks</ion-select-option>
                  <ion-select-option value="Leg Curls">Leg Curls</ion-select-option>
                  <ion-select-option value="Leg Presses">Leg Presses</ion-select-option>
                  <ion-select-option value="Lunges">Lunges</ion-select-option>
                  <ion-select-option value="Planks">Planks</ion-select-option>
                  <ion-select-option value="Pull-Ups">Pull-Ups</ion-select-option>
                  <ion-select-option value="Push-Ups">Push-Ups</ion-select-option>
                  <ion-select-option value="Seated Cable Rows">Seated Cable Rows</ion-select-option>
                  <ion-select-option value="Sit-Ups">Sit-Ups</ion-select-option>
                  <ion-select-option value="Squats">Squats</ion-select-option>
                  <ion-select-option value="Stretches">Stretches</ion-select-option>
                  <ion-select-option value="Tricep Curls">Tricep Curls</ion-select-option>
                </ion-select>
              </ion-item>
            </div>

            <div class="inputField-container" *ngIf="hasSets(i)">
              <ion-label>Sets*</ion-label>
              <ion-item lines="none" class="input-field">
                <ion-input formControlName="sets" type="number" placeholder="Sets"></ion-input>
              </ion-item>
            </div>
            <div class="inputField-container" *ngIf="hasReps(i)">
              <ion-label>Reps*</ion-label>
              <ion-item lines="none" class="input-field">
                <ion-input formControlName="reps" type="number" placeholder="Repetitions"></ion-input>
              </ion-item>
            </div>
            <div class="inputField-container" *ngIf="hasWeight(i)">
              <ion-label>weight*</ion-label>
              <ion-item lines="none" class="input-field">
                <ion-input formControlName="weight" type="number" placeholder="Weight (kg)"></ion-input>
              </ion-item>
            </div>
            <div class="inputField-container">
              <ion-label>duration*</ion-label>
              <ion-item lines="none" class="input-field">
                <ion-input formControlName="duration" type="number" placeholder="Duration (min)"></ion-input>
              </ion-item>
            </div>

          </div>
          <ion-button color="danger" type="button" (click)="deleteExercise(i)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </div>

        <ion-button class="adder" type="button" (click)="addExercise()" [disabled]="exercises.length >= 10">
          <ion-icon name="add"></ion-icon>
        </ion-button>

      </form>

        <ion-button
                class="submit"
                type="button" (click)="saveExercises()"
                [disabled]="!IsItvalid()"
        >
          Save Exercises
        </ion-button>

    </div>
  </div>
</ion-content>
