<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <backbutton></backbutton>
      </ion-buttons>
      <ion-title class="ion-text-center">Workout Planning</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="image-container">
    <img src="../../../assets/Asset 2.png" alt="Image" class="centered-image"/>
  </div>

  <div class="heading-container">
    <h2>Customize your workout plan here</h2>
  </div>
  
  <div class="grid-container">
    <div class="form-container">
      <form [formGroup]="workoutForm">
        <div formArrayName="exercises" *ngFor="let exercise of exercises.controls; index as i">
          <div class="exercise-number">Exercise {{ i + 1 }}</div>
          <div [formGroupName]="i">
            <select formControlName="name" placeholder="name" (change)="exerciseSelected($event, i)">
              <option value="" hidden selected >Select an exercise</option>
              <option value="Barbell Curls">Barbell Curls</option>
              <option value="Barbell Rows">Barbell Rows</option>
              <option value="Bench Presses">Bench Presses</option>
              <option value="Bicep Curls">Bicep Curls</option>
              <option value="Burpees">Burpees</option>
              <option value="Calf Raises">Calf Raises</option>
              <option value="Chest Press">Chest Press</option>
              <option value="Crunches">Crunches</option>
              <option value="Deadlifts">Deadlifts</option>
              <option value="Dumbbell Rows">Dumbbell Rows</option>
              <option value="Jumping Jacks">Jumping Jacks</option>
              <option value="Leg Curls">Leg Curls</option>
              <option value="Leg Presses">Leg Presses</option>
              <option value="Lunges">Lunges</option>
              <option value="Planks">Planks</option>
              <option value="Pull-Ups">Pull-Ups</option>
              <option value="Push-Ups">Push-Ups</option>
              <option value="Seated Cable Rows">Seated Cable Rows</option>
              <option value="Sit-Ups">Sit-Ups</option>
              <option value="Squats">Squats</option>
              <option value="Stretches">Stretches</option>
              <option value="Tricep Curls">Tricep Curls</option>
            </select>
            <input formControlName="sets" placeholder="Sets" *ngIf="hasSets(i)"/>
            <input formControlName="reps" placeholder="Repetitions" *ngIf="hasReps(i)"/>
            <input formControlName="weight" placeholder="Weight (kg)" *ngIf="hasWeight(i)"/>
            <input formControlName="duration" placeholder="Duration (min)" />
          </div>
          <ion-button color="danger" type="button" (click)="deleteExercise(i)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </div>

        <ion-button class="adder" type="button" (click)="addExercise()" [disabled]="exercises.length >= 10">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </form>
      <ion-button class="submit" type="button" (click)="saveExercises()">
        Save Exercises
      </ion-button>
    </div>
  </div>
</ion-content>
