<ion-header [translucent]="true">
  <ion-item style="display: flex; align-items: center;">
    <ion-icon name="arrow-back-outline" routerLink="/userprofile" style="font-size: 2rem;"></ion-icon>
    <ion-title style="margin-left: 0rem;">Points</ion-title>
  </ion-item>
</ion-header>

<ion-content class="pointsContainer">
  <ion-grid class="pointsGrid">
    <ion-item class="userPointsSection">
      <ion-text class="userPointsNumber">Points:</ion-text>
      <span class="userPointsContent">
        <ion-text class="userPointsNumberValue">5</ion-text>
        <ion-img src="assets/sweatSessionPoint.png" class = "userPointsImg"></ion-img>
      </span>
    </ion-item>

    <ion-item class="workoutPlanPointsSection">
      <h2 class="pointsHeader" style="margin:None">Complete Your Workout Plan</h2>
      <div class="progressContainer">
        <ion-text class="progressHeader">Progress: </ion-text>
        <ion-text class="progressText">0/1</ion-text>
      </div>
      <ion-progress-bar value="0.0" class="custom-progress-bar" style="--ion-color-primary: var(--custom-red);"></ion-progress-bar>
      <ion-item class="wpPointsSection">
      <ion-text class="workoutPlanPoints">Points:</ion-text>
      <span class="workoutPlanPointsContent">
        <ion-text class="wpNumberValue">5</ion-text>
        <ion-img src="assets/sweatSessionPoint.png" class = "wpPointsImg"></ion-img>
      </span>
    </ion-item>
    <ion-button routerLink="/plans">View Workout Plan</ion-button>
    </ion-item>
  </ion-grid>
</ion-content>