<ion-header [translucent]="true">
  <ion-item style="display: flex; align-items: center;">
    <ion-icon name="arrow-back-outline" routerLink="/userprofile" style="font-size: 2rem;"></ion-icon>
    <ion-title style="margin-left: 0rem;">Points</ion-title>
  </ion-item>
</ion-header>

<ion-content class="pointsContainer">
  <ion-grid class="pointsGrid">
    <ion-item class="userPointsSection">
      <ion-title class="userPointsNumber">Points: </ion-title>
      <ion-text class="userPointsNumberValue"></ion-text>
      <ion-img src="assets/sweatSessionPoint.png"></ion-img>
    </ion-item>
  </ion-grid>
</ion-content>