<div class="outer-container">
  <ion-content>
    <div class="inner-container">
      <ion-header>
        <ion-toolbar>
          <ion-title>CHATS</ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-list>
        <ion-item *ngFor="let chatFriend of chatFriends" (click)="openChat(chatFriend)" lines="none">
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" [src]="chatFriend.user.profileURL!" />
          </ion-avatar>
          <ion-label>
            <h2>{{ chatFriend.user.displayName! }}</h2>
            <p>{{ chatFriend.lastChat!.text }}</p>
            <p class="timestamp">{{ chatFriend.lastChat!.date?.toDate() | date:'MMM d, hh:mm a' }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
   </div>
  </ion-content>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button id="open-modal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal #modal trigger="open-modal" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.25, 0.5, 0.75]">
    <ng-template>
      <ion-content>
        <ion-searchbar placeholder="Search" (click)="modal.setCurrentBreakpoint(0.75)"></ion-searchbar>
        <ion-list>
          <ion-item  *ngFor="let friend of friends" lines="none" (click)="stageUser(friend,modal)">
            <ion-avatar slot="start">
              <ion-img [src]="friend.profileURL"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>{{friend.displayName}}</h2>
              <p>{{friend.bio}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</div>