<div class="outer-container">
  <ion-content>
    <div class="inner-container">
      <ion-header>
        <ion-segment (ionChange)="onSegmentChange($event)" value="chats">
          <ion-segment-button value="chats">Chats</ion-segment-button>
          <ion-segment-button value="groups">Groups</ion-segment-button>
        </ion-segment>
      </ion-header>

      <ion-list class="messages-list" class="transparent-list">
        <div [hidden]="selectedSegment!=='chats'">
          <div *ngIf="!loading; else loaderContent" class="chatFriends-container">
            <ion-item *ngFor="let chatFriend of chatFriends" (click)="stageUser(chatFriend.user)" lines="none" class="transparent-item">
              <ion-avatar slot="start" class="user-profile-img">
                <img alt="Silhouette of a person's head" [src]="chatFriend.user.profileURL!" />
              </ion-avatar>
              <ion-label>
                <div class="top-items">
                  <ion-label class="user-name-label">
                    <h2 class="user-name">{{ chatFriend.user.displayName! }}</h2>
                  </ion-label>
                  <p class="timestamp">{{ chatFriend.lastChat!.date?.toDate() | date:'MMM d, hh:mm a' }}</p>
                </div>
                <p class="last-message">{{"~ " + chatFriend.lastChat!.text }}</p>
              </ion-label>
            </ion-item>

            <div class="zero-content-container" *ngIf="chatFriends.length === 0">
              <div class="inner-zero-content-wrapper">
                <ion-icon class="large-icon" name="people"></ion-icon><br>
                <ion-text>
                  You don't have any friends at the moment. You need to make new friends in order to begin chatting.
                </ion-text>
              </div>
            </div>
          </div>
        </div>

        <div [hidden]="selectedSegment!=='groups'">
          <ion-item *ngFor="let group of groups" lines="none" (click)="stageGroup(group)" class="transparent-item">
            <ion-avatar slot="start">
              <img alt="Silhouette of a person's head" [src]="group.profileURL"/>
            </ion-avatar>
            <ion-label>
              <h2 class="user-name">{{group.displayName}}</h2>
              <div class="bio">
                <p>{{"~" + group.bio}}</p>
              </div>
            </ion-label>
          </ion-item>

          <div class="zero-content-container" *ngIf="groups.length === 0">
            <div class="inner-zero-content-wrapper">
              <ion-icon class="large-icon" name="people"></ion-icon><br>
              <ion-text>
                You don't have any groups at the moment. You can either create a new group or search for a new group and join.
              </ion-text>
            </div>
          </div>
        </div>
      </ion-list>
   </div>
  </ion-content>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" [hidden]="selectedSegment!=='chats'">
    <ion-fab-button id="open-modal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" [hidden]="selectedSegment!=='groups'">
    <ion-fab-button routerLink="/creategroup">
      <ion-icon name="people-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal #modal trigger="open-modal" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.25, 0.5, 0.75]">
    <ng-template>
      <ion-content>
        <ion-searchbar placeholder="Search" (click)="modal.setCurrentBreakpoint(0.75)"></ion-searchbar>
        <ion-list class="friends-list">
          <ion-item  *ngFor="let friend of friends" lines="none" (click)="stageUser(friend,modal)">
            <ion-avatar slot="start">
              <ion-img [src]="friend.profileURL"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>{{friend.displayName}}</h2>
              <p>{{friend.bio}}</p>
            </ion-label>
          </ion-item>

          <div *ngIf="friends.length === 0" class="zero-content-container ">
            <div class="inner-zero-content-wrapper">
              <ion-icon class="large-icon" name="people"></ion-icon><br>
              <ion-text>
                You don't have any friends at the moment. You need to make new friends in order to begin chatting.
              </ion-text><br><br>
              <ion-buttons class="add-buttons">
                <ion-button routerLink="/home/search" (click)="modal.dismiss()">
                  <ion-icon class="add-friend" name="person-add"></ion-icon> Find Friends
                </ion-button>
              </ion-buttons>
            </div>
          </div>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</div>

<ng-template #loaderContent>
  <div class="loader-wrapper">
    <ion-spinner></ion-spinner>
  </div>
</ng-template>