<div class="outer-container">
  <ion-content>
    <div class="inner-container">
      <ion-header>
        <ion-toolbar>
          <ion-title>CHATS</ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-list>
        <ion-item *ngFor="let chat of chats" (click)="openChat(chat)" lines="none">
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>
            <h2>{{ chat.name }}</h2>
            <p>{{ chat.lastMessage }}</p>
            <p class="timestamp">{{ chat.timestamp }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
   </div>
  </ion-content>
</div>