.outer-container {
    height: 100vh;
}

.inner-container {
    padding-top: 50px;
    height: 100%;
}

ion-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    --background: transparent;
}

p {
    color: grey;
    font-style: italic;
}

.last-message {
    width: 100%;
}

.loader-wrapper {
    height: 80vh;
}

.messages-list {
    padding: 0.9rem;
}

.user-name-label {
    font-weight: bolder;
    width: 80%;
    max-width: 80%;
    overflow: hidden;
}

.user-name {
    font-weight: bolder;
}


.top-items {
    display: flex;
    align-items: center;
    width: 100%;
    .timestamp {
        font-size: x-small;
        display: inherit;
        justify-content: end;
        margin-left: 10px;
    }
}

.add-buttons {
    width: fit-content;
    margin: auto;
    .add-friend {
        color: #457b9d; 
        padding-right: 5px;
    }
}
