.otheruser-profile {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin:0px;
    border-radius: 0px;
}

.profile-label {
    color: black;
    .name {
        font-weight: bolder;
    }

    .bio {
        font-style: italic;
    }
}

.profile-outer-container {
    width: 100%;
    background-color:#E63946;
    padding-bottom: 20px;
}

swiper-container::part(bullet-active) {
    background-color:#E63946 // #A8DADC;
  }

.otheruser-profile-activity {
    width: 100%;
}

.back-button {
    width: 100%;
    padding: 10px;
    ion-item {
        --background: transparent;
    }
}

.profile-image {
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
}

ion-label div, .profile-img-container  {
    width: fit-content;
    margin: auto;
}

ion-title {
    text-align: center;
}

.group-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}