<ion-content>
  <ion-card class="otheruser-profile" *ngIf="isLoading; else loaderContent">
    <div class="profile-outer-container">
      <div class="back-button">
        <ion-item lines="none">
          <backbutton slot="start"></backbutton>
          <ion-icon name="create-outline" routerLink="/setprofile" slot="end" style="color: white !important;"></ion-icon>
        </ion-item>
      </div>
      <div class="profile-img-container">
        <ion-avatar class="profile-image">
          <ion-img [src]="ProfilePicture$"></ion-img>
        </ion-avatar>
      </div>
      <ion-label class="profile-label">
        <div class="name">
          <h1>{{displayName$}}</h1>
        </div>
              <ion-row>
                <ion-col class = "theCol">{{myBio$}}</ion-col>
              </ion-row>
      </ion-label>
      <div class="group-buttons">
        <ion-button fill="outline" routerLink="/friends">
          <ion-icon name="person" style="padding-right: 5px;"></ion-icon>
          {{getFriendsSize()}}
        </ion-button>
        <ion-button fill="outline" (click)="Groups()">
          <ion-icon name="people" style="padding-right: 5px;"></ion-icon>
          {{getGroupsSize()}}
        </ion-button>
      </div>
    </div>
   
    <div class="otheruser-profile-activity">
      <div class="slide-header">
        <ion-item class="slides-headers first-header">
          <ion-icon name="body" slot="start"></ion-icon> 
          <ion-label>Activities</ion-label>
        </ion-item>
      </div>
      <swiper-container [slidesPerView]="2" centered-slides="true"  pagination="{hideOnClick: true}">
        <swiper-slide>
          <ion-card routerLink="/fitnessgoals">
            <ion-card-content>
              <ion-card-title>
                <ion-icon name="american-football"></ion-icon>
              </ion-card-title>
              <h2>Goals</h2>
            </ion-card-content>
          </ion-card>
        </swiper-slide>
        <swiper-slide>
          <ion-card routerLink="/view-personalbests">
            <ion-card-content>
              <ion-card-title>
                <ion-icon name="analytics"></ion-icon>
              </ion-card-title>
              <h2>Perfomance</h2>
            </ion-card-content>
          </ion-card>
        </swiper-slide>
        <swiper-slide>
          <ion-card routerLink="/healthdata">
            <ion-card-content>
              <ion-card-title>
                <ion-icon name="heart"></ion-icon>
              </ion-card-title>
              <h2>Health Data</h2>
            </ion-card-content>
          </ion-card>
        </swiper-slide>
      </swiper-container>
      
      <div class="slide-header">
        <ion-item class="slides-headers">
          <ion-icon name="trophy" slot="start"></ion-icon> 
          <ion-label>Achievements</ion-label>
        </ion-item>
      </div>
      <swiper-container [slidesPerView]="2" centered-slides="true"
        pagination="{hideOnClick: true}"
      >
        <swiper-slide>
          <ion-card routerLink="/badges">
            <ion-card-content>
              <ion-card-title>
                <ion-icon name="medal"></ion-icon>
              </ion-card-title>
              <h2>Badges</h2>
            </ion-card-content>
          </ion-card>
        </swiper-slide>
        <swiper-slide>
          <ion-card routerLink="/points">
            <ion-card-content>
              <ion-card-title>
                <ion-icon name="star"></ion-icon>
              </ion-card-title>
              <h2>Points</h2>
            </ion-card-content>
          </ion-card>
        </swiper-slide>
      </swiper-container>
    </div>
   </ion-card>

  <ng-template #loaderContent>
    <div class="loader-wrapper">
      <ion-spinner></ion-spinner>
    </div>
  </ng-template>
</ion-content>
