<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <backbutton class="larger-back-button"></backbutton>
      <!-- <ion-title>Profile</ion-title> -->
      <ion-icon name="create-outline" routerLink="/setprofile" style="filter: none;" slot="end">
        <ion-label>Edit</ion-label>
      </ion-icon>
    </ion-item>

    <div class="flex-center image-container">   
      <ion-img src={{ProfilePicture$}} alt="logo-image" class="image rounded-circle"></ion-img>
    </div>
  
    <div class="flex-center">
      <ion-label class="label" style="padding-top: 2%; font-weight: bold; font-size: 1.5rem;">{{displayName$}}</ion-label>
    </div>
    
    <!-- <ion-row>
      <ion-col style="display: flex;">
        <ion-label style="margin:auto;">{{myBio$}}</ion-label>
      </ion-col>
    </ion-row> -->

  

    <!-- <ion-label class="bio-content">
      {{myBio$}}
    </ion-label> -->
  
    <ion-row>
      <ion-col size="6" routerLink="/friends">
        <ion-title class="title" style=" margin-left: 40px">{{friendsSize}}<br>Friends</ion-title>
      </ion-col>
      <ion-col size="6" (click)="Groups()" >
        <ion-title class="title" >{{groups$}}<br>Groups</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
  <!-- <div style="display: flex; justify-content: center;"> -->
    <ion-label>
      {{myBio$}}
    </ion-label>
  <!-- </div> -->
  
</ion-header>

   
<ion-content> 
 <br>
 <br>
 <br>

  <div class="flex-center">
    <ion-card class="card">
      <ion-card-content>
        <ion-button class="button" expand="block" routerLink="/fitnessgoals"><ion-icon name="american-football-outline" slot = "start"></ion-icon>Goals<ion-icon name="chevron-forward-outline" slot="end"></ion-icon></ion-button>
      </ion-card-content>
      <ion-card-content>
        <ion-button class="button" expand="block" routerLink="/badges"><ion-icon name="medal" slot="start"></ion-icon>&nbsp;Badges&nbsp;<ion-icon name="chevron-forward-outline" slot="end"></ion-icon></ion-button>
      </ion-card-content>
      <ion-card-content>
        <ion-button class="button" expand="block" routerLink="/points"><ion-icon name="star-outline" slot="start"></ion-icon>&nbsp;Points&nbsp;<ion-icon name="chevron-forward-outline" slot="end"></ion-icon></ion-button>
      </ion-card-content>
      <ion-card-content>
        <ion-button class="button" expand="block" routerLink="/view-personalbests"><ion-icon name="analytics-outline" slot="start"></ion-icon>&nbsp;Personal Best&nbsp;<ion-icon name="chevron-forward-outline" slot="end"></ion-icon></ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
