.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    border: radius 50px;
    
}
.flex-right{
    display: flex;
    justify-content: right; 
    align-items: center;
    height: 100%;
    
}

.logo-img {
    img{
        height: 12vh;
        width: auto;
        margin: auto;
        display: block;
        

    }
    
  }

  .side-by-side {
    display: flex;
  }
  
  .side-by-side ion-title {
    flex-basis: 50%;
    text-align: center;
  }
  

.flex-text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: cornflowerblue;

}

.image-container
{
    border-top: 90px;
}

.rounded-circle {
    border-radius: 50%;
    overflow: hidden;
    height: 200px;
    width: 200px;
  }

.button{
    --background: lightgrey;
    --color:black ;
}
.card{
    --background:#90CAF3;
    --color:black;
    box-shadow:none !important;
    border: none !important;
    

}
.title{
    display: inline-block;
    padding-left: 5vh;
}
ion-item{
    --background:#90CAF3;
}
// .header{
//     display: inline-block;
//     --background:lightgrey;
// }
// ion-toolbar{
//     --background:lightgrey;
// }


ion-card {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 80%;
    margin-left: 0;
    margin-right: 0;
    background-color: #90CAF3;
  }
