<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar class="toolbar">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <!-- Temporarily commented out -->
    <!-- <ion-item lines="none" class="clickable" (click)="goToSettings()">
      <ion-icon name="settings-outline" class="menu-icons"></ion-icon>
      <ion-label class="menu-label">
        Settings
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end" class="menu-icons"></ion-icon>
    </ion-item> -->
   



    <ion-item lines="none" class="clickable">
      <ion-icon name="log-out-outline" class="menu-icons"></ion-icon>
      <ion-toggle class="menu-label" (ionChange)="onToggletheme($event)">
        Dark Mode
      </ion-toggle>
    </ion-item>
    <ion-item lines="none" class="clickable" (click)="openhelpwebsite()">
      <ion-icon name="help-circle-outline" class="menu-icons"></ion-icon>
      <ion-label class="menu-label">
        Help
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end" class="menu-icons"></ion-icon>
    </ion-item>
  </ion-content>
  <ion-item lines="none" class="clickable" (click)="userLogout()">
    <ion-icon name="log-out-outline" class="menu-icons"></ion-icon>
    <ion-label class="menu-label">
      Logout
    </ion-label>
    <ion-icon name="chevron-forward-outline" slot="end" class="menu-icons"></ion-icon>
  </ion-item>
</ion-menu>



<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-chip class="clickable" routerLink="/userprofile">
        <ion-item style="margin-top: 2px">
          <ion-avatar>
            <img src={{ProfilePicture$}}/> 
          </ion-avatar>
        
          <div class="name">
            {{DisplayName$}}
          </div>
        </ion-item>
      </ion-chip>
    </ion-title>
    <ion-icon name="receipt-outline" 
              routerLink="/workout-scheduling"
              class="clickable" slot="end">
    </ion-icon>
    <ion-badge color="success" slot="end">{{noticeamount}}</ion-badge>
    <ion-icon name="notifications-outline" 
              routerLink="/notifications"
              class="clickable" slot="end">
    </ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <ion-router-outlet> </ion-router-outlet>
</ion-content>
  
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-tab-button>
    
    <ion-tab-button tab="messages">
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
      Messages
    </ion-tab-button >

    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      Search
    </ion-tab-button>
    <ion-tab-button tab="leaderboard">
      <ion-icon name="bar-chart-outline"></ion-icon>
      Boards
    </ion-tab-button>
    <ion-tab-button tab="chatbot">
      <ion-icon name="logo-ionitron"></ion-icon>
      Chatbot
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
 
  
  



