ion-icon {
    width:25px;
    height: 25px;
}   

.clickable {
    margin-right: 15px;
}

.toolbar {
    height:50px;
    background-color: transparent;
    position: relative;
}

ion-avatar {
    height:35px;
    width:35px;
}

*{
    font-family: 'Montserrat', sans-serif;
}

.menu-label{
    margin-left: 10px;
}

ion-item {
    width: 100%;
}

ion-title {
    text-align: center;
    ion-chip {
        background-color: transparent;
    }
}

.menu-icons {
    color: #457b9d;
}