ion-icon {
    width:25px;
    height: 25px;
}   

.clickable {
    margin-right: 15px;
}

.toolbar {
    height:50px;
    background-color: transparent;
    position: relative;
}

ion-avatar {
    height:35px;
    width:35px;
}

ion-badge {
    position: absolute;
    font-size: 8pt;
    right: -1px;
    top: -3px;
    z-index: 99;
}

.button-div {
    position: relative;
}
.menu-label{
    margin-left: 10px;
}

ion-item {
    width: 100%;
}

ion-title {
    text-align: center;
}

.name {
    margin-left: 5px;
}