ion-badge {
  --background: Blue;
  --color: white;
}

ion-fab-button {
  --background: #155ff8;
  --background-activated: #0c3e93;
  --background-hover: #0248bb;
  --border-radius: 15px;
  --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --color: white;
    position: fixed;
}
ion-fab
{
  top: 92%;
  right: 20%;
}

