<ion-list>
    <ion-item-sliding *ngFor="let goal of goals.goals ">
        <ion-card>
        <ion-item>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-card-title class="ion-text-wrap ion-text-uppercase ion-text-sm">{{ goal.name }}</ion-card-title>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-badge color="primary">{{goal.days_left}}</ion-badge>
                    </ion-col>
                    <ion-col>
                        <ion-label>Days Left</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                            <ion-label>Progress</ion-label>
                            <ion-progress-bar value = "{{goal.progress}}" ></ion-progress-bar>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-card-subtitle class="ion-text-wrap ion-text-sm">{{ goal.description }}</ion-card-subtitle>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="ion-text-end">
                        <ion-button (click)="viewGoal(goal.id!) ">View</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>

        <ion-item-options side="start">
            <ion-item-option color="success">Edit</ion-item-option>
        </ion-item-options>

        <ion-item-options side="end">
            <ion-item-option>Favorite</ion-item-option>
            <ion-item-option color="danger" (click)="removeGoal( goal.id )">Delete</ion-item-option>
        </ion-item-options>
        </ion-card>
    </ion-item-sliding>
</ion-list>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button >
        <ion-icon name="add" ></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
        <ion-fab-button>
            <ion-icon id="open-modal" name="add-circle-outline" (click)="addGoal()"></ion-icon>
        </ion-fab-button>
    </ion-fab-list>
</ion-fab>





