ion-badge {
  --background: Blue;
  --color: white;
}

ion-fab-button {
    position: fixed;
}
ion-fab
{
  top: 92%;
  right: 20%;
}

ion-text {
  margin: 20px;
}

ion-item:not(.progress-label){
  --highlight-height: 0;
  --inner-border-width: 0;
  // --background: #001b34;
  border-radius: 12px;
}

ion-card, ion-item {
  opacity: 1;
}

ion-icon.active {
  color: blue;
}

ion-icon.inactive {
  color: grey;
}


