<ion-segment (ionChange)="onSegmentChange($event)" value="0" [scrollable]="true">
    <ion-segment-button value="0">Active</ion-segment-button>
    <ion-segment-button value="1">Completed</ion-segment-button>
    <ion-segment-button value="2">Overdue</ion-segment-button>
  </ion-segment>

  <ion-content [scrollEvents]="true" *ngIf="isLoading; else loaderContent">

        <ion-card *ngFor="let goal of getFilteredGoals()">
            <ion-item-sliding>
            <ion-item id="viewer">
                <ion-icon name="basketball-outline"></ion-icon>
                <ion-text>
                    {{goal.name}}
                </ion-text>
                <ion-icon slot="end" name="chevron-forward-outline" (click)="viewGoal(goal.id)"></ion-icon>

            </ion-item>

            <ion-item-options>
                <ion-item-option color="danger" (click)="confirmDelete( goal.id! )">Delete</ion-item-option>
            </ion-item-options>
            </ion-item-sliding>
            <ion-card-content>
                <ion-card-subtitle class="ion-text-wrap ion-text-sm">{{ goal.description }}</ion-card-subtitle>
                <ion-progress-bar style = "height: 15px; border-radius: 10px" value = "{{goal.progress! / 100}}" ></ion-progress-bar>

                <div style="padding-top: 20px">
                    <ion-icon name="speedometer-outline"></ion-icon><ion-text class="schedule-value">{{(goal.progress!)}}% Done</ion-text><br>
                    <ion-icon name="alert-circle-outline"></ion-icon><ion-text class="schedule-value">{{getDaysleft(goal)}} Days Left</ion-text><br>
                    <ion-icon name="american-football-outline"></ion-icon><ion-text class="schedule-value">{{goal.Tasks!.length}} Tasks</ion-text><br>
                    <ion-icon name="calendar-outline"></ion-icon><ion-text class="schedule-value">Started: {{goal.startDate}}</ion-text><br>
                    <ion-icon name="alarm-outline"></ion-icon><ion-text class="schedule-value">Ending: {{goal.endDate}}</ion-text><br>
                </div>
            </ion-card-content>
        </ion-card>
  </ion-content>

<ng-template #loaderContent>
    <div class="loader-wrapper">
        <ion-spinner></ion-spinner>
    </div>
</ng-template>

<ion-fab slot="fixed" vertical="bottom" horizontal="right">
    <ion-fab-button (click)="addGoal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>





