<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="default-button" (click)="dismissModal()">
        <ion-icon name="arrow-back-outline" class="larger-back-button"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>View Exercise</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item-divider>
    <ion-label> {{receivedBodypart.toLocaleUpperCase()}} EXERCISES</ion-label>
  </ion-item-divider>
  <ion-card *ngFor="let ExerciseTuple of ExerciseDetails">
    <ion-card>
      <video controls style="width: 100%;" playsinline="" preload="metadata" muted="" autoplay="" loop="">
        <source [src]="ExerciseTuple.video.url" type="video/mp4">
      </video>
    </ion-card>
    <ion-card-header>
      <ion-card-title>{{ ExerciseTuple.video.exersiseName }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label> Difficulty : {{ ExerciseTuple.video.difficulty }} </ion-label>
    </ion-card-content>
    <ion-button (click)="openModal(ExerciseTuple)"  >View Instructions</ion-button>
  </ion-card>
</ion-content>

