<div class="content-container">
  <ion-searchbar
      placeholder="Search for Groups"
      [(ngModel)] = "searchTerms.searchQuery"
      (ionInput) = onSearchInput($event)
      color="light"
      animated
      >
  </ion-searchbar>
  
  <div class="search-suggestions" *ngIf="searchTerms.showSuggestions">
    <ion-list class="transparent-list">
      <ion-item lines="none"
        *ngFor="let suggestion of searchTerms.filteredSuggestions"
        (click)="selectGroup(suggestion)">
        <ion-avatar slot="start">
          <ion-img src ="{{suggestion.profileURL}}"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>{{ suggestion.displayName }}</h2>
          <p>{{"~ " + suggestion.bio}}</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none" *ngIf="showNoResults && this.searchTerms.filteredSuggestions!.length==0">
        <ion-text>No groups found</ion-text>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="!searchTerms.showSuggestions">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="slide-header">
            <ion-item class="header">
              <ion-icon name="people" slot="start"></ion-icon> 
              <ion-label>Suggested Groups</ion-label>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let row of rows">
        <ion-col *ngFor="let item of row" size="6">
          <ion-item class="groups-recommendations" lines="none">
            <ion-avatar slot="start">
              <ion-img [src]="item.profileURL"></ion-img>
            </ion-avatar>
            <ion-label class="label">
              <h2>{{item.displayName}}</h2>
              <p>{{item.bio}}</p>
            </ion-label>
          </ion-item>
          <ion-buttons>
            <ion-button class="view-button" expand="block" (click)="selectGroup(item)">View Group</ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>

<ion-modal #modal [isOpen]="showGroupPage">
  <ng-template>
    <ion-content>
      <group-home-page
        [selectedGroup]="selectedGroup"
        [modal]="modal"></group-home-page>
    </ion-content>
  </ng-template>
</ion-modal>