<ion-header>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
  <ion-toolbar>
      <ion-icon name="arrow-back" aria-hidden="true" class="bb" slot="start" (click)="dismissModal()"></ion-icon>
    <ion-title>View Exercises</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="centralize">

    Two Os in the middle
</ion-content>

<!-- <p>View Exercises</p> -->