<ion-header>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
  <ion-toolbar>
      <ion-icon name="arrow-back" aria-hidden="true" class="bb" slot="start" (click)="dismissModal()"></ion-icon>
    <ion-title>View Exercises</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="centralize">
<!--    Two Os and a V like that Canada Squad-->
    <ion-list>
<!--        <ion-item *ngFor="let exercise of exercises" (click)="openExercise(exercise)">-->
        <ion-label>{{ExerciseDetails.name}}</ion-label>
        <ion-item *ngFor="let video of ExerciseDetails.videoUrls" >

            <ion-item>
                <video>
                    <source src="{{video}}" type="video/mp4">
                </video>
            </ion-item>
        </ion-item>
    </ion-list>
</ion-content>

<!-- <p>View Exercises</p> -->