.pointsContainer{
    --ion-background-color: #F1FAEE;
}

.userPointsSection {
    --ion-background-color: #1D3557;
    color: white;
    border-radius: 15px;
}

.userPointsNumber{
    font-size: 50px;
}

.userPointsNumberValue{
    font-size: 50px;
}

ion-img{
    width: 60px;
}