<ion-item lines="none" (click)="viewOtherUser()" *ngIf="!load; else loaderContent" class="transparent-item">
  <ion-avatar slot="start">
    <ion-img [src]="profile.profileURL"></ion-img>
  </ion-avatar>
  <ion-label>
    <h2 *ngIf="userId !== currentUserId">{{profile.displayName}}</h2>
    <h2 *ngIf="userId === currentUserId">{{profile.displayName}} (You)</h2>
    <p>{{profile.bio}}</p>
  </ion-label>
</ion-item>

<ng-template #loaderContent>
 <ion-item lines="none" class="transparent-item">
  <div class="loader-wrapper">
    <ion-spinner></ion-spinner>
  </div>
 </ion-item>
</ng-template>