/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


// ion-item{
//     --highlight-height: 0;
//     --inner-border-width: 0;
// }

ion-title {
    text-align: center;
}

ion-toolbar{
    --background: #E63946;
}

ion-toolbar ion-item{
--background: #E63946;
}

* {
font-family: 'Montserrat', sans-serif;
transition: .2;
}

ion-chip {
    background-color: transparent;
}

ion-spinner {
    --color: #E63946;//#A8DADC;
    width: 1.2rem;
    height: 1.2rem;
}

.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

ion-fab-button  {
    --background: #A8DADC;
    --background-hover: #9ce0be;
    --background-activated: #88f4be;
    --background-focused: #88f4be;
    --color: #457b9d;
    --ripple-color: deeppink;
    opacity: 0.9;
}

ion-segment {
    border-radius: 0px;
}

.message-input-field {
    border: 2px solid #457B9D;
    border-radius: 10px;

    .input-field-wrapper {
        width: 80%;
    }
      
      
    // .message-send-icon {
    //     color: #A8DADC; //#E63946;
        
    // }
}

.input-field-footer {
    padding: 10px;
}

* {
    transition: 0.5;
}

swiper-container::part(bullet-active) {
    background-color:#E63946 // #A8DADC;
  }

  .message-send-fab-button {
    width: 40px;
    height: 40px;
  }

  .native-wrapper.sc-ion-textarea-md textarea.sc-ion-textarea-md {
    -webkit-padding-start: 0px;
    padding-inline-start: 0px;
    -webkit-padding-end: 0px;
    padding-inline-end: 0px;
    padding-top:18px;
    padding-bottom: 0px;
}

.transparent-list {
    background-color: transparent;
}

.large-icon {
    width: 200px;
    height: 200px;
    color: #457B9D;
    opacity: 0.9;
}

// colors
// #A8DADC;
// #457b9d

ion-button {
    --background: #A8DADC;
    --background-hover: #457b9d;
    --background-activated: #457b9d;
    --background-focused: #457b9d;
    border-radius: 8px;
  
    --border-style: solid;
    --border-width: 2px;
    --border-color: #457b9d;
  
    --color: #457b9d;
}

.zero-content-container {
    width: 80%;
    margin: auto;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
}

//profile
.otheruser-profile {
    overflow: auto;
    .slide-header {
        padding: 20px;
        .slides-headers {
            font-weight: bolder;
            color: #457B9D;
        }
    }
}

swiper-container {
    position: relative;
    height: fit-content;
    padding: 20px;
}

swiper-container::part(bullet-active) {
    background-color:#E63946; // #A8DADC;
    position: relative;
    bottom: -10px;
}

swiper-container::part(bullet) {
    position: relative;
    bottom: -10px;
}
