/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
// @import "theme/variables.scss";
// @import "theme/colortheme.scss";


// ion-header {
//   --ion-header-border-width: 0;
//   --ion-header-box-shadow: none;
// }

// ion-footer {
//     background-color: var(--background-color);
//     --border: none;
// }

// ion-content {
//     overflow-y: auto;
//     --background: var(--background-color);
// }

// ion-card {
//     --background: var(--background-color);
// }

// ion-modal {
//     background-color: var(--background-color);
// }

.larger-back-button {
    --padding-start: 12px; 
    --padding-end: 12px; 
    font-size: 24px; 
    // color: var(--primary-color) !important;
}

ion-title {
    text-align: center;
}

// ion-toolbar {
//     --background: var(--background-color);
//     --color: var(--primary-color) !important;
// }

// ion-toolbar *{
//     --color: var(--primary-color) !important;
// }

// ion-toolbar ion-item {
//     --background: transparent;
//     --color: var(--primary-color) !important;
// }

// * {
//     font-family: 'Montserrat', sans-serif;
//     transition: .2;
//     --color: var(--secondary-color) !important;
// }

ion-chip {
    background-color: transparent;
}

ion-spinner {
    --color: #001b34; //#A8DADC;
    width: 1.2rem;
    height: 1.2rem;
}

.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

// ion-fab-button  {
//     --background: var(--main-color);
//     --background-hover: var(--ripple-main-color);
//     --background-activated: var(--ripple-main-color);
//     --background-focused: var(--ripple-main-color);
//     --color: white !important;
//     --ripple-color: var(--ripple-main-color);
//     opacity: 0.9;
// }

ion-segment {
    border-radius: 0px;
    // background-color: var(--primary-color);
}

.message-input-field {
    border: 2px solid #457B9D;
    border-radius: 10px;

    .input-field-wrapper {
        width: 85%;
        padding: 0px;
        ion-textarea {
            padding-top: 0px;
            padding-bottom: 0px;
            margin: 0px;
        }
    }
}

.input-field-footer {
    padding: 10px;
}

* {
    transition: 0.5;
}

swiper-container::part(bullet-active) {
    background-color: #001b34 // #A8DADC;
}

.message-send-fab-button {
    width: 40px;
    height: 40px;
}

.transparent-list {
    background-color: transparent;
}

.transparent-item {
    --background: transparent;
}

.large-icon {
    width: 200px;
    height: 200px;
    opacity: 0.9;
}

ion-button:not(.backbutton,.default-button, .white-button) {
    // --background: var(--main-color);
    // --background-hover: var(--ripple-main-color);
    // --background-activated: var(--ripple-main-color);
    // --background-focused: var(--ripple-main-color);
    --border-radius: 10px;
    --padding: 10px;
  
    --border-style: solid;
    --border-width: 2px;
    --border-color: var(--main-color);
  
    // --color: white !important;
}

.white-button {
    // --background: var(--button-secondary-color);
    // --color: var(--primary-color);
    --border-radius: 10px;
    // --background-hover: var(--ripple-white-color);
    // --background-activated: var(--ripple-white-color);
    // --background-focused: var(--ripple-white-color);

    --border-style: solid;
    --border-width: 2px;
    // --border-color: var(--button-secondary-color);
}

ion-segment {
    border-radius: 0px;
    background-color: transparent;
}

.zero-content-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .inner-zero-content-wrapper {
        padding: 10px;
        text-align: center;
        font-weight: bolder;
    }
}

//profile
.otheruser-profile {
    overflow: auto;
    .slide-header {
        padding: 20px;
        .slides-headers {
            font-weight: bolder;
            // color: #457B9D;
            --background: transparent;
        }
    }
}

swiper-container {
    position: relative;
    height: fit-content;
    padding: 20px;
}

swiper-container::part(bullet-active) {
    // background-color: var(--main-color);
    position: relative;
    bottom: -10px;
}

swiper-container::part(bullet) {
    position: relative;
    bottom: -10px;
}

.clickable:hover {
    zoom:1.05;
    // color: var(--secondary-variant-color);
}

.group-options {
    width: fit-content;
    position: absolute;
    right: 10px;
    z-index: 999;
    //box-shadow: 0px 4px 20px 0px #31460457;
    padding: 5px;
    border-radius: 2px;
    //background-color: #A8DADC;
}

/* Hide scrollbars for Webkit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
    display: none;
}

/* For Firefox */
html {
    scrollbar-width: none;
    // background-color: #A8DADC;
}

canvas {
    --background: var(--background-color);
}