<ion-card class="ion-text-center">
  <ion-card-title>
    <h1>Diet Calculator</h1>
  </ion-card-title>
  <ion-card-content>
    <h2>Enter your meal:</h2>
    <ion-item>
      <!-- <ion-label position="floating" style="font-size: 20px; text-align: center;">Enter your meal:</ion-label> -->
      <ion-textarea [(ngModel)]="meal" rows="5"></ion-textarea>
    </ion-item>
    <ion-button expand="block" (click)="calculateNutrition()">Calculate</ion-button>

    <ion-card *ngIf="totalNutrition">
      <ion-card-header>Summary of Nutritional Information</ion-card-header>
      <ion-card-content>
        <p>Total Calories: {{ totalNutrition.calories | number:'1.2-2' }}</p>
        <p>Protein: {{ totalNutrition.protein | number:'1.2-2' }}g</p>
        <p>Carbohydrates: {{ totalNutrition.carbohydrates | number:'1.2-2' }}g</p>
        <p>Fats: {{ totalNutrition.fats | number:'1.2-2' }}g</p>
        <p>Dietary Fiber: {{ totalNutrition.fiber | number:'1.2-2' }}g</p>
        <p>Sugars: {{ totalNutrition.sugars | number:'1.2-2' }}g</p>
        <p>Sodium: {{ totalNutrition.sodium | number:'1.2-2' }}mg</p>
      </ion-card-content>
    </ion-card>

    <ion-list class="transparent-list" *ngIf="foods">
      <ion-item lines="none" class="transparent-item" *ngFor="let food of foods">
        <ion-row class="flex-container">
          <ion-col size="6" size-md="3">
            <ion-thumbnail>
              <ion-img [src]="food.photo.thumb"></ion-img>
            </ion-thumbnail>
          </ion-col>
          <ion-col size="6" size-md="9" class="food-info">
            <ion-label class="ion-text-wrap">
              <h2 class="capitalize">{{ food.food_name }}</h2>
              <p>Total Calories: {{ food.nf_calories | number:'1.2-2' }}</p>
              <p>Protein: {{ food.nf_protein | number:'1.2-2' }}g</p>
              <p>Carbohydrates: {{ food.nf_total_carbohydrate | number:'1.2-2' }}g</p>
              <p>Fats: {{ food.nf_total_fat | number:'1.2-2' }}g</p>
              <p>Dietary Fiber: {{ food.nf_dietary_fiber | number:'1.2-2' }}g</p>
              <p>Sugars: {{ food.nf_sugars | number:'1.2-2' }}g</p>
              <p>Sodium: {{ food.nf_sodium | number:'1.2-2' }}mg</p>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>    
  </ion-card-content>
</ion-card>