<ion-header [translucent] = "true">
  <ion-toolbar>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">

    <ion-searchbar 
          placeholder="Search for a location"
          [(ngModel)]="searchTerm"
          (ionInput)="onSearchInput($event)"
          animated
            >
    </ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let item of filteredData$ | async">
      <ion-label>{{item.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>


