.outer-container {
    height: 100vh;
}

.inner-container {
    padding-top: 50px;
    height: 100%;
}

.slider-container {
    margin-bottom: 20px;
    .slider-header {
        padding: 10px;
    }
    .dashboard-card {
        margin: 0px;
        width: 100%;
        border-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
       .discover-card {
        text-align: center;
        margin: 0px;
       }
    }

    .grid-cards {
        text-align: center;
        margin: 0px;
    }
}

ion-item {
    --background: transparent;
}

ion-icon {
    color: #457B9D;
}