 <div class="outer-container">
  <ion-content>
    <div class="inner-container">
      <div class="slider-container">
        <div class="slider-header">
          <h2>Today</h2>
        </div>
        <swiper-container [slidesPerView]="2" [loop]="true"  centered-slides="true"  pagination="{hideOnClick: true}">
          <swiper-slide>
            <ion-card routerLink="/workout-scheduling">
              <ion-card-content>
                <ion-card-title style="text-align: center;">
                  <ion-icon name="receipt-outline"></ion-icon>
                </ion-card-title>
               <ion-item lines="none">
                <ion-text style="text-align: center; margin: 0 auto;">Sessions</ion-text>
                <!-- <ion-icon name="chevron-forward" slot="end"></ion-icon> -->
               </ion-item>
              </ion-card-content>
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card routerLink="/fitnessgoals">
              <ion-card-content>
                <ion-card-title style="text-align: center;">
                  <ion-icon name="american-football-outline"></ion-icon>
                </ion-card-title>
               <ion-item lines="none">
                <ion-text style="text-align: center; margin: 0 auto;">Goals</ion-text>
                <!-- <ion-icon name="chevron-forward" slot="end"></ion-icon> -->
               </ion-item>
              </ion-card-content>
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card routerLink="/home/leaderboard">
              <ion-card-content>
                <ion-card-title style="text-align: center;">
                  <ion-icon name="bar-chart-outline"></ion-icon>
                </ion-card-title>
                <ion-item lines="none" >
                  <ion-text style="text-align: center; margin: 0 auto;">Rank</ion-text>
                  <!-- <ion-icon name="chevron-forward" slot="end"></ion-icon> -->
                 </ion-item>
              </ion-card-content>
            </ion-card>
          </swiper-slide>
          <swiper-slide>
            <ion-card routerLink="/view-personalbests">
              <ion-card-content>
                <ion-card-title style="text-align: center;">
                  <ion-icon name="analytics-outline"></ion-icon>
                </ion-card-title>
                <ion-item lines="none">
                  <ion-text style="text-align: center;  margin: 0 auto;">Bests</ion-text>
                  <!-- <ion-icon name="chevron-forward" slot="end"></ion-icon> -->
                 </ion-item>
              </ion-card-content>
            </ion-card>
          </swiper-slide>
        </swiper-container>
      </div>

      <div class="slider-container">
        <div class="slider-header">
          <h2>Rewards</h2>
        </div>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-card class="grid-cards" routerLink="/points">
                <ion-card-content>
                  <ion-card-title>
                    <ion-icon name="star"></ion-icon>
                  </ion-card-title>
                  Points
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size="6">
              <ion-card class="grid-cards" routerLink="/badges">
                <ion-card-content>
                  <ion-card-title>
                    <ion-icon name="medal"></ion-icon>
                  </ion-card-title>
                  Badges
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-card class="grid-cards" routerLink="/workout-scheduling">
                <ion-card-content>
                  <ion-card-title>
                    <ion-icon name="receipt"></ion-icon>
                  </ion-card-title>
                  {{sessionsCompleted + " Sessions Completed"}}
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="slider-container">
        <div class="slider-header">
          <h2>Discover</h2>
        </div>
        <ion-card class="dashboard-card">
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <ion-card class="discover-card" routerLink="/workout-scheduling">
                 <ion-card-content>
                  <ion-card-title>
                    <ion-icon name="calendar-outline"></ion-icon>
                  </ion-card-title>
                  Schedule
                 </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col size="6">
                <ion-card class="discover-card" routerLink="/friends">
                 <ion-card-content>
                  <ion-card-title>
                    <ion-icon name="people-circle-outline"></ion-icon>
                  </ion-card-title>
                 Friends
                 </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-card class="discover-card" routerLink="/groups">
                 <ion-card-content>
                  <ion-card-title>
                    <ion-icon name="people-outline"></ion-icon>
                  </ion-card-title>
                 Groups
                 </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col size="6">
                <ion-card class="discover-card" routerLink="/home/search">
                 <ion-card-content>
                  <ion-card-title>
                    <ion-icon name="body-outline"></ion-icon>
                  </ion-card-title>
                 People
                 </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
            <ion-row>
              <!-- <ion-col size="6">
                <ion-card class="discover-card" routerLink="/exercise-explorer">
                 <ion-card-content>
                  <ion-card-title>
                    <ion-icon name="watch-outline"></ion-icon>
                  </ion-card-title>
                 Explorer!
                 </ion-card-content>
                </ion-card>
              </ion-col>
                <ion-col size="6">
                    <ion-card class="discover-card" routerLink="/calories-calculator">
                        <ion-card-content>
                            <ion-card-title>
                                <ion-icon name="calculator-outline"></ion-icon>
                            </ion-card-title>
                            Calories
                        </ion-card-content>
                    </ion-card>
                </ion-col> -->
            </ion-row>
          </ion-grid>
        </ion-card>
      </div>
   </div>
  </ion-content>
</div>
