ion-card {
  width: inherit;
  height: 100%;
  margin: 0 auto;
}

* {
  font-family: 'Montserrat', sans-serif;
}

.schedule-card {
  margin-bottom: 100px;
}

.logo {
  display: block;
  max-width: 35%;
  height: auto;
  margin: 0 auto;
}


ion-card,
ion-item {
  opacity: 1;
}

.larger-back-button {
  --padding-start: 12px;
  --padding-end: 12px;
  font-size: 24px;
}

ion-button {
  margin-top: 20px;
}

ion-row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

ion-toolbar {
  --background: #E63946
}

ion-toolbar ion-item {
  --background: #E63946
}

.location-container {
  display: flex;
  align-items: center;  
}

.location-icon {
  margin-left: auto;  
  margin-right: 24px; /* Same width as built-in calendar icon */
  font-size: 20px !important; 
  margin-top: 20px;
}