// .grid-content {
//   height: inherit;
// }

ion-button {
  margin-top: 15px;
}

.location-container {
  display: flex;
  align-items: center;  
}

.location-icon {
  margin-left: auto;
  font-size: 20px !important;
  margin-right: 8px;
}

.top-img {
  width: 100%;
}

.wrapper {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  .input {
    width: 100%;
    .location {
      padding-right: 0px;
    }
  }
  .icon {
    display: flex;
    align-items: center;
    ion-icon {
      margin-left: 0px;
    }
  }
}

@keyframes color-change {
  0% {color: #1D3557;}
  25% {color: #457B9D;}
  50% {color: #A8DADC;}
  75% {color: #E63946;}
  100% {color: #F1FAEE;}
}

.icon-container {
 height: 300px;
 ion-icon {
  height: 100%;
  width: 100%;
  color: #457B9D;
  animation: color-changer 30s infinite;
 }
}