<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <backbutton class="larger-back-button"></backbutton>
      <ion-title class="ion-text-center">Add Gym Session</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="grid-content">
    <ion-row>
      <ion-col>
        <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7vUDCWL_IbJb5lV5KbQTC-eUNmBTtwJjciw&usqp=CAU"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked" style="font-size:x-large">Time</ion-label>
          <ion-input type="time" [(ngModel)]="schedule.time" [min]="getMinTime()"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked" style="font-size:x-large">Date</ion-label>
          <ion-input type="date" [(ngModel)]="schedule.date" [min]="getMinDate()"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>        
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked" style="font-size: x-large">Location</ion-label>
          <div class="wrapper">
            <div class="input">
              <ion-input type="text" class="location" [(ngModel)]="schedule.location" placeholder="Click on the location icon"></ion-input>
            </div>
            <div class="icon"> 
              <ion-icon name="location-outline" (click)="openLocationModal()" class="location-icon"></ion-icon>
            </div>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>    
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" style="font-size:x-large">Duration (min)</ion-label>
          <ion-input type="number" [(ngModel)]="schedule.duration" [min]="10"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" style="font-size:x-large">Workout Name</ion-label>
          <ion-input type="text" [(ngModel)]="schedule.name" autofocus="false"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="addSchedule()" [disabled]="!isValidInput()">Save</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

