.grid-content {
  height: inherit;
}

.logo {
  display: block;
  max-width: 35%;
  height: auto;
  margin: 0 auto;
}


ion-card,
ion-item {
  opacity: 1;
}

.larger-back-button {
  --padding-start: 12px;
  --padding-end: 12px;
  font-size: 24px;
}

ion-button {
  margin-top: 20px;
}

ion-row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

ion-toolbar {
  --background: #E63946
}

ion-toolbar ion-item {
  --background: #E63946
}

.location-container {
  display: flex;
  align-items: center;  
}

.location-icon {
  font-size: 20px !important; 
}

.top-img {
  width: 100%;
}

.wrapper {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  .input {
    width: 100%;
    .location {
      padding-right: 0px;
    }
  }
  .icon {
    display: flex;
    align-items: center;
    ion-icon {
      margin-left: 0px;
    }
  }
}


