<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <backbutton></backbutton>
    </ion-buttons>
    <ion-title>Add Gym Session</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
       <div class="icon-container">
        <ion-icon src="/assets/dumbbell-small-svgrepo-com.svg"></ion-icon>
       </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked" style="font-size:x-large">Time</ion-label>
          <ion-input type="time" [(ngModel)]="schedule.time" [min]="getMinTime()" (ionChange)="valueChanged($event)"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked" style="font-size:x-large">Date</ion-label>
          <ion-input type="date" [(ngModel)]="schedule.date" [min]="getMinDate()" (ionChange)="valueChanged($event)"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>        
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked" style="font-size: x-large">Location</ion-label>
          <div class="wrapper">
            <div class="input">
              <ion-input type="text" class="location" [(ngModel)]="schedule.location" placeholder="Click on the location icon"></ion-input>
            </div>
            <div class="icon"> 
              <ion-icon name="location-outline" (click)="openLocationModal()" class="location-icon"></ion-icon>
            </div>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>    
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked" style="font-size:x-large">Duration (min)</ion-label>
          <ion-input type="number" [(ngModel)]="schedule.duration" placeholder="Enter workout duration in minutes" [min]="10" (ionChange)="valueChanged($event)"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked" style="font-size:x-large">Workout Name</ion-label>
          <ion-input type="text" [(ngModel)]="schedule.name" placeholder="Enter the name of the workout"  autofocus="false" (ionChange)="valueChanged($event)"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="addSchedule()" [disabled]="!isValidInput()">Save</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

